
{% macro render(form, deleteform, currently_uploaded_files, section) %}
    <div id="file-upload-section" class="govuk-!-margin-top-8">
        {% if currently_uploaded_files %}
            <h2 class="govuk-heading-m">
                Uploaded files
            </h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                {% for item in currently_uploaded_files %}

                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value govuk-!-width-full" style="vertical-align: middle;">
                            {{ item | replace(session['application']['reference_number'] + '__' + section + '__', '') }}
                        </dd>
                        <dd class="govuk-summary-list__actions">

                            <form method="POST" action="{{ url_for('upload.removeFile') }}#file-upload-section">
                                {{ deleteform.csrf_token }}

                                <input type="hidden" name="section" value="{{ section }}">
                                <input type="hidden" name="file" value="{{ item }}">
                                <button class="govuk-button govuk-button--warning govuk-!-margin-bottom-0" data-module="govuk-button">
                                    Remove
                                    <span class="govuk-visually-hidden">
                                        {{ item | replace(session['application']['reference_number'] + '__' + section + '__', '') }} file
                                    </span>
                                </button>
                            </form>

                        </dd>
                    </div>

                {% endfor %}
            </dl>
        {% endif %}

        <form method="POST" enctype="multipart/form-data"
              onsubmit="document.getElementById('documents').style.display = 'none'; document.getElementById('loading').style.display = 'inline-block';">
            {{ form.csrf_token }}

            <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
                <label for="documents" class="govuk-label govuk-label--m">
                    Upload files
                </label>
                <div id="documents-hint" class="govuk-hint">
                    The files must be a JPG, BMP, PNG, TIF or PDF and be smaller than 10MB
                </div>
                {% if form.documents.errors %}
                    <p id="documents-error" class="govuk-error-message">
                        {% for error in form.errors %}
                            {% for e in form[error].errors %}
                                <span class="govuk-visually-hidden">Error:</span> {{ e }}
                            {% endfor %}
                        {% endfor %}
                    </p>
                {% endif %}

                <img id="loading" src="{{ url_for('static', filename='assets/images/loading.gif') }}" width="41"
                     height="41" style="display: none; margin-bottom: 20px;" alt="">
                <input id="documents" type="file" name="documents" multiple
                       accept=".jpg,.jpeg,.bmp,.png,.tif,.tiff,.pdf,.txt"
                       class="govuk-file-upload govuk-!-margin-bottom-4 {{ 'govuk-input--error' if form.documents.errors }}">
                <div class="govuk-checkboxes__item">
                    <input id="more_files" type="checkbox" name="more_files" value="Yes"
                           class="govuk-checkboxes__input">
                    <label for="more_files" class="govuk-label govuk-checkboxes__label">
                        I have more files to upload.
                    </label>
                </div>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                    Return to task list
                </a>
            </div>
        </form>
    </div>
{% endmacro %}
