{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "upload/_upload-files-section.html" as upload_files_section %}

{% block title %}Enter your document password{% endblock %}

{% block backLink %}
    <a href="{{ url_for('upload.uploadInfoPage', section_url=section_url) }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(passwordsForm) }}

            <h1 class="govuk-heading-l">
                Enter your document {% if currently_uploaded_files | length == 1 %}password{% else %}passwords{% endif %}
            </h1>
            <div class="govuk-inset-text">
                <p class="govuk-body">
                    {% if currently_uploaded_files | length == 1 %}This file is{% else %}These files are{% endif %} password protected. Please either:
                </p>
                <ul>
                    <li>enter the password below - it will not be stored</li>
                    <li>remove the password security and reupload the file</li>
                </ul>
                <p class="govuk-body">
                    We process and protect all documents you upload in accordance with our
                    <a href="{{ url_for('policies.privacy_policy') }}"
                       target="_blank" class="govuk-link">
                        privacy policy (opens in a new tab)</a>.
                </p>
            </div>

            <div id="file-upload-section" class="govuk-!-margin-top-8">
                {% if currently_uploaded_files %}
                    <h2 class="govuk-heading-m">
                        Uploaded files
                    </h2>

                    <form method="POST" action="{{ url_for('upload.documentPassword', section_url=section_url) }}"
                        onsubmit="document.getElementById('submit').style.display = 'none'; document.getElementById('loading').style.display = 'inline-block';">
                        {{ passwordsForm.csrf_token }}

                        {% set files_field = passwordsForm.files %}
                        {% for file_field_index in range(files_field | length) %}
                            {% set passwordForm = files_field[file_field_index] %}

                            <div style="{{ "border-top: 1px solid #b1b4b6; padding-top: 20px;" if loop.index0 > 0 else "" }}">
                                <h3 class="govuk-heading-s">
                                    {{ currently_uploaded_files[loop.index0].original_file_name }}
                                </h3>

                                <p class="govuk-body">
                                    <button name="{{ passwordForm.button_clicked.name }}" value="Remove" class="govuk-button govuk-button--warning govuk-!-margin-bottom-0" data-module="govuk-button">
                                        Remove file
                                        <span class="govuk-visually-hidden">
                                            {{ currently_uploaded_files[loop.index0].original_file_name }}
                                        </span>
                                    </button>
                                </p>

                                {{ textInput.renderFor(
                                    passwordForm,
                                    fieldName='password',
                                    textInputForOptions={
                                        'errors': files_field.errors[file_field_index].password if files_field.errors[file_field_index] else None,
                                        'labelOptions': { 'htmlOrText': 'Password' },
                                        'classes': 'govuk-input--width-20',
                                        'type': 'password',
                                    }
                                ) }}

                                <input type="hidden" name="{{ passwordForm.aws_file_name.name }}" value="{{ currently_uploaded_files[loop.index0].aws_file_name }}">
                                <input type="hidden" name="{{ passwordForm.original_file_name.name }}" value="{{ currently_uploaded_files[loop.index0].original_file_name }}">
                                <input type="hidden" name="{{ passwordForm.file_index.name }}" value="{{ loop.index0 }}">
                            </div>
                        {% endfor %}

                        <img id="loading" src="{{ url_for('static', filename='assets/images/loading.gif') }}" width="40"
                            height="40" style="display: none; margin-bottom: 17px;" alt="">
                        <input id="submit" type="submit" name="button_clicked" value="Update" class="govuk-button" data-module="govuk-button">
                    </form>

                {% endif %}

            </div>
            <a href="{{ url_for('upload.uploadInfoPage', section_url=section_url) }}" class="govuk-back-link">Back to {{ section_url | replace("-", " ") }}</a>
        </div>
    </div>
{% endblock %}
