{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "upload/_upload-files-section.html" as upload_files_section %}

{% block title %}Enter your document password{% endblock %}

{% block backLink %}
    <a href="{{ url_for('upload.uploadInfoPage', section_url=section_url) }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(passwordsForm) }}

            <h1 class="govuk-heading-l">
                Enter your document {% if currently_uploaded_files | length == 1 %}password{% else %}passwords{% endif %}
            </h1>
            <div class="govuk-inset-text">
                <p class="govuk-body">
                    {% if currently_uploaded_files | length == 1 %}This file is{% else %}These files are{% endif %} password protected. Please either:
                </p>
                <ul>
                    <li>enter the password below - it will not be stored</li>
                    <li>remove the password security and reupload the file</li>
                </ul>
                <p class="govuk-body">
                    We process and protect all documents you upload in accordance with our
                    <a href="{{ url_for('policies.privacy_policy') }}"
                       target="_blank" class="govuk-link">
                        privacy policy (opens in a new tab)</a>.
                </p>
            </div>

            <div id="file-upload-section" class="govuk-!-margin-top-8">
                {% if currently_uploaded_files %}
                    <h2 class="govuk-heading-m">
                        Uploaded files
                    </h2>

                    <dl>
                        <form method="POST" action="{{ url_for('upload.documentPassword', section_url=section_url) }}"
                            onsubmit="document.getElementById('submit').style.display = 'none'; document.getElementById('loading').style.display = 'inline-block';">
                            <input type="hidden" name="csrf_token" value="{{ passwordsForm.get_csrf_token() }}">

                            {% for passwordForm in passwordsForm.files %}
                                <a name="files"></a>

                                {% set password_error = passwordsForm.errors.files[loop.index0] if passwordsForm.errors.files else '' %}
                                <div class="govuk-summary-list__row">
                                    <dd class="govuk-summary-list__value govuk-!-width-full" style="vertical-align: middle;{% if loop.last %} border-bottom: none;{% endif %}">
                                        <p class="govuk-body">{{ currently_uploaded_files[loop.index0].original_file_name }}</p>
                                        <p>
                                            <button name="{{ passwordForm.button_clicked.name }}" value="Remove" class="govuk-button govuk-button--warning govuk-!-margin-bottom-0" data-module="govuk-button">
                                                Remove file
                                                <span class="govuk-visually-hidden">
                                                    {{ currently_uploaded_files[loop.index0].original_file_name }}
                                                </span>
                                            </button>
                                        </p>

                                        <div class="govuk-form-group {{ 'govuk-form-group--error' if password_error != '' }}" style="margin-top: 20px;">
                                            <label for="password-input-{{ loop.index }}" class="govuk-label">Password</label>

                                            {% if password_error != '' %}
                                            <p class="govuk-error-message " id="password-error">
                                                <span class="govuk-visually-hidden">
                                                    Error:
                                                </span>
                                                {{ password_error | remove_file_name_from_error }}
                                            </p>
                                            {% endif %}

                                            <input id="password-input-{{ loop.index }}" type="password" name="{{ passwordForm.password.name }}" class="govuk-input {{ 'govuk-input--error' if error != '' and file_index | string == loop.index | string }}">
                                        </div>
                                        <input type="hidden" name="{{ passwordForm.aws_file_name.name }}" value="{{ currently_uploaded_files[loop.index0].aws_file_name }}">
                                        <input type="hidden" name="{{ passwordForm.original_file_name.name }}" value="{{ currently_uploaded_files[loop.index0].original_file_name }}">
                                        <input type="hidden" name="{{ passwordForm.file_index.name }}" value="{{ loop.index0 }}">
                                    </dd>
                                </div>

                            {% endfor %}

                            <img id="loading" src="{{ url_for('static', filename='assets/images/loading.gif') }}" width="40"
                                height="40" style="display: none; margin-bottom: 17px;" alt="">
                            <input id="submit" type="submit" name="button_clicked" value="Update" class="govuk-button" data-module="govuk-button">
                        </form>
                    </dl>

                {% endif %}

            </div>
            <a href="{{ url_for('upload.uploadInfoPage', section_url=section_url) }}" class="govuk-back-link">Back to {{ section_url | replace("-", " ") }}</a>
        </div>
    </div>
{% endblock %}
