{% extends 'base.html' %}


{% block backLink %}<a href="{{url_for('taskList.index')}}"
   class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if form.errors %}
    <div class="govuk-error-summary"
         aria-labelledby="error-summary-title"
         role="alert"
         tabindex="-1"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title"
          id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
          {% for e in form[error].errors %}
          <li><a href="#{{error}}">{{ e }}</a></li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      Living in your gender
    </h1>

    <p class="govuk-body">This is where you can upload evidence that you&rsquo;ve lived in your affirmed gender for the 2 years before your application.</p>

      <p class="govuk-body govuk-!-margin-bottom-2">You should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>upload a maximum of 8 documents &ndash; try to provide 4 from each year</li>
        <li>make sure all documents are dated and include your name</li>
        <li>try to include documents that are dated throughout the year</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-2">Examples of what you could provide:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>driving licence</li>
        <li>passport</li>
        <li>payslips, P60 or P45</li>
        <li>benefits or tax letters and documents</li>
        <li>bank statements and utility bills</li>
        <li>letters from official, professional or business organisations like solicitors, accountants, dentists, doctors and employers</li>
        <li>academic certificates or documentation</li>
        <li>health care or identity cards including photo ID issued by an official organisation</li>
      </ul>

    <form method="POST"
          action="{{url_for('upload.genderEvidence')}}"
          enctype="multipart/form-data">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
          <label class="govuk-label govuk-label--m"
               for="documents">
          Upload files
        </label>
        <div id="documents-hint"
             class="govuk-hint">
          The files must be a JPG, BMP, PNG, TIF or PDF and be smaller than 10MB
        </div>
        {% if form.documents.errors %}
        <p id="documents-error"
           class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You need to add allowed files
        </p>
        {% endif %}
        <input class="govuk-file-upload govuk-!-margin-bottom-4 {{ 'govuk-input--error' if form.documents.errors }}"
               id="documents"
               name="documents"
               multiple
               accept=".jpg,.jpeg,.bmp,.png,.tif,.tiff,.pdf"
               type="file">

      </div>

      <div class="govuk-button-group">
        <button class="govuk-button"
                data-module="govuk-button">
          Save and continue
        </button>
        <a href="{{url_for('taskList.index')}}"
           class="govuk-link govuk-link--no-visited-state">Return to task list</a>

      </div>
    </form>

    {% if session["application"]["genderEvidence"]["files"] %}
    <div class="govuk-form-group govuk-!-margin-top-9">
      <label class="govuk-label govuk-label--m"
             for="documents">
        Uploaded files
      </label>
      <dl class="govuk-summary-list">
        {% for item in session["application"]["genderEvidence"]["files"] %}
          <form method="POST"
                action="{{url_for('upload.removeFile')}}"
                enctype="multipart/form-data">
            {{ deleteform.csrf_token }}
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value govuk-!-width-full">
                {{item | replace(session["application"]["reference_number"]+ '/genderEvidence/',"")}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <input name="section" value="genderEvidence" type="hidden">
                <input name="file" value="{{item}}" type="hidden">
                <input name="redirect_route" value="{{url_for('upload.genderEvidence')}}" type="hidden">

                <button class="govuk-button govuk-button--warning"
                        data-module="govuk-button">
                        Remove <span class="govuk-visually-hidden"> {{item | replace(session["application"]["reference_number"]+ '/genderEvidence/',"")}} file</span>
                </button>
              </dd>
            </div>
          </form>
        {% endfor %}
      </dl>
    </div>
    {% endif %}


  </div>
</div>
{% endblock %}
