{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}

{% block title %}Upload marriage and civil partnership documents{% endblock %}

{% block backLink %}
    <a href="{{ url_for('taskList.index') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Upload marriage and civil partnership documents
            </h1>
            <div class="govuk-inset-text">
                We process and protect all documents you upload in accordance with our
                <a href="{{ url_for('policies.privacy_policy') }}" class="govuk-link">
                    privacy policy</a>.
            </div>
            <p class="govuk-body">
                This is where you can upload copies of all required marriage documents.
            </p>

            <h2 class="govuk-heading-m">
                If you’re currently married or in a civil partnership
            </h2>
            <p class="govuk-body">
                You need to have good quality photocopies or photographs of all your marriage or civil partnership certificates.
            </p>

            <h2 class="govuk-heading-m">
                If you were married or in a civil partnership in the past
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">
                For each marriage or civil partnership, you need an original or certified copy of one of the following:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    a
                    <a href="https://www.gov.uk/copy-decree-absolute-final-order"
                       target="_blank" class="govuk-link">
                        decree absolute or final order (opens in a new tab)
                    </a>
                    to show the marriage or civil partnership has ended
                </li>
                <li>
                    a death certificate for your partner if their death ended the marriage or civil partnership – you can
                    <a href="https://www.gov.uk/order-copy-birth-death-marriage-certificate"
                       target="_blank" class="govuk-link">
                        order a certificate (opens in a new tab)
                    </a>
                    if their death was registered in the UK
                </li>
            </ul>

            {{ upload_files_section.render(
                form,
                deleteform,
                currently_uploaded_files=session['application']['marriageDocuments']['files'],
                section=section)
            }}

        </div>
    </div>
{% endblock %}
