{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}

{% block title %}Upload marriage or civil partnership documents{% endblock %}

{% block backLink %}
    <a href="{{ url_for('taskList.index') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Upload marriage or civil partnership documents
            </h1>
            <p class="govuk-body">
                This is where you can upload copies of your marriage or civil partnership documents.
            </p>
            <div class="govuk-inset-text">
                Find out more about the
                <a href="https://www.gov.uk/apply-gender-recognition-certificate/what-documents-you-need#if-youve-ever-been-married-or-been-in-a-civil-partnership"
                   target="_blank" class="govuk-link">
                    documents you need if you’ve ever been married or in a civil partnership (opens in new tab)</a>.
            </div>
            <p class="govuk-body">
                You must upload a scan or good quality photograph of your documents.
                If any documents are longer than one page, you must upload every page.
            </p>
            <p class="govuk-body">
                We will only accept clear images of full pages.
                If you take a photograph, please ensure all 4 corners of each page are visible.
            </p>
            <p class="govuk-body">
                We process and protect all documents you upload in accordance with our
                <a href="{{ url_for('policies.privacy_policy') }}"
                target="_blank" class="govuk-link">
                    privacy policy (opens in a new tab)</a>.
            </p>

            {{ upload_files_section.render(
                form,
                deleteform,
                deleteAllFilesInSectionForm,
                currently_uploaded_files=currently_uploaded_files,
                section_url=section_url,
                duplicate_aws_file_names=duplicate_aws_file_names)
            }}

        </div>
    </div>
{% endblock %}
