{% extends 'base.html' %}


{% block backLink %}<a href="{{url_for('taskList.index')}}"
   class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if form.errors %}
    <div class="govuk-error-summary"
         aria-labelledby="error-summary-title"
         role="alert"
         tabindex="-1"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title"
          id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
          {% for e in form[error].errors %}
          <li><a href="#{{error}}">{{ e }}</a></li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      Upload your medical reports
    </h1>

    <p class="govuk-body">You need 2 reports written by 2 different medical doctors or clinical psychologists in the UK.
    </p>

    <p class="govuk-body">The reports both need to include the name, practice address and contact details of the person
      who wrote the report.</p>

    <p class="govuk-body govuk-!-margin-bottom-2">The first report needs to explain the details of your gender dysphoria
      diagnosis, including:</p>

    <ol class="govuk-list govuk-list--bullet">
      <li>who made the diagnosis</li>
      <li>when the diagnosis was made</li>
      <li>any evidence that was used to make the diagnosis</li>
      <li>any medication prescribed and when</li>
      <li>any planned non-surgical treatment, like hormone therapy</li>
      <li>if a referral for surgery was made, and if there was no referral then the reasons why</li>
    </ol>

    <p class="govuk-body">If you have not had and are not planning any treatment, then the second report should say why
      not.</p>

    <p class="govuk-body">This report needs to be written by a registered medical doctor or clinical psychologist who
      practises in the field of gender dysphoria. You can find one of these by:</p>

    <ol class="govuk-list govuk-list--bullet">
      <li>asking your GP for a referral</li>
      <li>contacting someone on the <a class="govuk-link"
           href="http://www.gov.uk/government/publications/gender-recognition-certificate-list-of-medical-practitioners-in-the-gender-dysphoria-field">list
          of specialists in the field of gender dysphoria</a> – this is not a complete list and it is not up-to-date
      </li>
    </ol>

    <p class="govuk-body">The second report needs to explain the details of any treatment you've had or plan to have, including:</p>

    <ol class="govuk-list govuk-list--bullet">
      <li>whether you've had gender reassignment surgery</li>
      <li>each distinct surgical procedure you've had and the date it was carried out</li>
      <li>any non-surgical treatment you've had in the last 6 months, like hormone therapy</li>
      <li>any future surgical or non-surgical treatment you have planned</li>
      <li>if you have had no treatment and do not plan to have any, the reasons why</li>
    </ol>

    <p class="govuk-body">This report can be written by any registered medical doctor or clinical psychologist, including your GP, a
      surgeon or an endocrinologist.</p>

    <p class="govuk-body">It also needs to be as recent as possible. It may not be accepted if it was written over a year before you submit
      it.</p>

    <p class="govuk-body">You'll probably need to pay for these reports even if you use NHS medical practitioners, so ask in advance how
      much you'll be charged.</p>

    <div class="govuk-inset-text">
      <p class="govuk-body">There is a <a class="govuk-link"
           href="https://www.gov.uk/government/publications/form-t452-guidelines-for-registered-medical-practitioners-and-registered-psychologists-to-facilitate-completion-of-the-medical-report-proforma-for-g">form
          that medical practitioners can use to write either of these reports (opens in new tab)</a>. This is not a
        complete directory of those in this field and it may not be up to date.</p>
    </div>

    <form method="POST"
          action="{{url_for('upload.medicalReports')}}"
          enctype="multipart/form-data">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
        <label class="govuk-label govuk-label--m"
               for="documents">
          Upload files
        </label>
        <div id="documents-hint"
             class="govuk-hint">
          The files must be a JPG, BMP, PNG, TIF or PDF and be smaller than 10MB
        </div>
        {% if form.documents.errors %}
        <p id="documents-error"
           class="govuk-error-message">
          {% for error in form.errors %}
          {% for e in form[error].errors %}
          <span class="govuk-visually-hidden">Error:</span> {{e}}
          {% endfor %}
          {% endfor %}
        </p>
        {% endif %}
        <input class="govuk-file-upload govuk-!-margin-bottom-4 {{ 'govuk-input--error' if form.documents.errors }}"
               id="documents"
               name="documents"
               multiple
               accept=".jpg,.jpeg,.bmp,.png,.tif,.tiff,.pdf"
               type="file">

      </div>

      <div class="govuk-button-group">
        <button class="govuk-button"
                data-module="govuk-button">
          Save and continue
        </button>
        <a href="{{url_for('taskList.index')}}"
           class="govuk-link govuk-link--no-visited-state">Return to task list</a>
      </div>
    </form>

    {% if session["application"]["medicalReports"]["files"] %}
    <div class="govuk-form-group govuk-!-margin-top-9">
      <label class="govuk-label govuk-label--m"
             for="documents">
        Uploaded files
      </label>
      <dl class="govuk-summary-list">
        {% for item in session["application"]["medicalReports"]["files"] %}
        <form method="POST"
              action="{{url_for('upload.removeFile')}}"
              enctype="multipart/form-data">
          {{ deleteform.csrf_token }}
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value govuk-!-width-full">
              {{item | replace(session["application"]["reference_number"]+ '/medicalReports/',"")}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <input name="section"
                     value="medicalReports"
                     type="hidden">
              <input name="file"
                     value="{{item}}"
                     type="hidden">
              <input name="redirect_route"
                     value="{{url_for('upload.medicalReports')}}"
                     type="hidden">

              <button class="govuk-button govuk-button--warning"
                      data-module="govuk-button">
                Remove <span class="govuk-visually-hidden">
                  {{item | replace(session["application"]["reference_number"]+ '/medicalReports/',"")}} file</span>
              </button>
            </dd>
          </div>
        </form>
        {% endfor %}
      </dl>
    </div>
    {% endif %}


  </div>
</div>
{% endblock %}
