{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}

{% block title %}Upload name change documents{% endblock %}

{% block backLink %}
    <a href="{{ url_for('taskList.index') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Upload name change documents
            </h1>
            <div class="govuk-inset-text">
                We process and protect all documents you upload in accordance with our
                <a href="{{ url_for('policies.privacy_policy') }}"
                   target="_blank" class="govuk-link">
                    privacy policy (opens in a new tab)</a>.
            </div>
            <p class="govuk-body">
                This is where you can upload copies of all documents that show when you’ve changed your name to reflect your gender.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                Upload:
            </p>
            <ul class="govuk-body govuk-list govuk-list--bullet">
                <li>deed poll documents, either enrolled or unenrolled</li>
                <li>change of name documents (Scotland)</li>
                <li>statutory declarations</li>
            </ul>

            {{ upload_files_section.render(
                form,
                deleteform,
                deleteAllFilesInSectionForm,
                currently_uploaded_files=currently_uploaded_files,
                section_url=section_url,
                duplicate_aws_file_names=duplicate_aws_file_names)
            }}

        </div>
    </div>
{% endblock %}
