{% extends 'base.html' %}
{% block backLink %}<a href="{{ url_for('taskList.index') }}" class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
            {% for e in form[error].errors %}
            <li><a href="#{{ error }}">{{ e }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      Overseas gender recognition certificate documents
    </h1>

    <form method="POST" action="{{ url_for('upload.overseasCertificate') }}" enctype="multipart/form-data" onsubmit="document.getElementById('documents').style.display = 'none'; document.getElementById('loading').style.display = 'inline-block';">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
        <label for="documents" class="govuk-label govuk-label--m">Upload files</label>
        <div id="documents-hint" class="govuk-hint">The files must be a JPG, BMP, PNG, TIF or PDF and be smaller than 10MB</div>
        {% if form.documents.errors %}
        <p id="documents-error" class="govuk-error-message">
          {% for error in form.errors %}
            {% for e in form[error].errors %}
            <span class="govuk-visually-hidden">Error:</span> {{ e }}
            {% endfor %}
          {% endfor %}
        </p>
        {% endif %}

        <img id="loading" src="{{ url_for('static', filename='assets/images/loading.gif') }}" width="41" height="41" style="display: none; margin-bottom: 20px;">
        <input id="documents" type="file" name="documents" multiple accept=".jpg,.jpeg,.bmp,.png,.tif,.tiff,.pdf" class="govuk-file-upload govuk-!-margin-bottom-4 {{ 'govuk-input--error' if form.documents.errors }}">
        <div class="govuk-checkboxes__item">
          <input id="more_files" type="checkbox" name="more_files" value="Yes" class="govuk-checkboxes__input">
          <label for="more_files" class="govuk-label govuk-checkboxes__label">
            I have more files to upload.
          </label>
        </div>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
      </div>
    </form>

    {% if session['application']['overseasCertificate']['files'] %}
    <div class="govuk-form-group govuk-!-margin-top-9">
      <label for="documents" class="govuk-label govuk-label--m">Uploaded files</label>
      <dl class="govuk-summary-list">
        {% for item in session['application']['overseasCertificate']['files'] %}
        <form method="POST" action="{{ url_for('upload.removeFile') }}" enctype="multipart/form-data">
          {{ deleteform.csrf_token }}
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value govuk-!-width-full">
              {{ item | replace(session['application']['reference_number'] + '__overseasCertificate__', '') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <input type="hidden" name="section" value="overseasCertificate">
              <input type="hidden" name="file" value="{{ item }}">
              <input type="hidden" name="redirect_route" value="{{ url_for('upload.overseasCertificate') }}">
              <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                Remove <span class="govuk-visually-hidden">{{ item | replace(session['application']['reference_number'] + '__overseasCertificate__', '') }} file</span>
              </button>
            </dd>
          </div>
        </form>
        {% endfor %}
      </dl>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
