{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}

{% block title %}Statutory declarations documents{% endblock %}

{% block backLink %}
    <a href="{{ url_for('taskList.index') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Statutory declarations documents
            </h1>
            <p class="govuk-body">
                This is where you can upload copies of all required statutory declarations.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                You must upload either:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>a statutory declaration for single applicants</li>
                <li>a statutory declaration for applicants who are married or in a civil partnership</li>
            </ul>

            <p class="govuk-body">
                If you fill out the statutory declaration for applicants who are married or in a civil partnership
                and you intend to stay in that marriage or civil partnership after you receive a certificate,
                you must also upload a statutory declaration signed by your spouse or civil partner.
            </p>
            <p class="govuk-body">
                Follow the
                <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-statutory-declarations-for-applicants"
                   class="govuk-link">
                    guidance on statutory declarations
                </a>
                to find out which declaration is right for you and who can act as a witness when you sign your declaration.
            </p>

            {{ upload_files_section.render(
                form,
                deleteform,
                currently_uploaded_files=session['application']['statutoryDeclarations']['files'],
                section=section)
            }}

        </div>
    </div>
{% endblock %}
