{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block title %}Were you adopted in the United Kingdom?{% endblock %}

{% block backLink %}
    <a href="{{ url_for('birthRegistration.adopted') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="{{ url_for('birthRegistration.adoptedUK') }}">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='adopted_uk',
                    question="Were you adopted in the United Kingdom?",
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'hintOptions':{
                            'htmlOrText': 'This information will help us find your original birth record.'
                        },
                        'dividerOptions': [
                            ('DO_NOT_KNOW', 'or')
                        ]
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
