{% extends 'base.html' %}


{% block backLink %}<a href="{{url_for('birthRegistration.forces')}}"
   class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Check your answers: </span>
      Birth registration details
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Birth name
        </dt>
        <dd class="govuk-summary-list__value">
          {{session["application"]["birthRegistration"]["first_name"]}} {{session["application"]["birthRegistration"]["last_name"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
             href="{{url_for('birthRegistration.index')}}">
            Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sex registered at birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{session["application"]["birthRegistration"]["sex"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
             href="{{url_for('birthRegistration.sexCheck')}}">
            Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{session["application"]["birthRegistration"]["dob"]["day"]}}/{{session["application"]["birthRegistration"]["dob"]["month"]}}/{{session["application"]["birthRegistration"]["dob"]["year"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
             href="{{url_for('birthRegistration.dob')}}">
            Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Birth registered in UK
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            {{session["application"]["birthRegistration"]["ukCheck"]}}
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
             href="{{url_for('birthRegistration.ukCheck')}}">
            Change</a>
        </dd>
      </div>


      {% if session["application"]["birthRegistration"]["ukCheck"] == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mother&rsquo;s name
          </dt>
          <dd class="govuk-summary-list__value">
            {{session["application"]["birthRegistration"]["mothers_first_name"]}} {{session["application"]["birthRegistration"]["mothers_last_name"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
              href="{{url_for('birthRegistration.mothersName')}}">
              Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Father’s name listed
          </dt>
          <dd class="govuk-summary-list__value">
            {{session["application"]["birthRegistration"]["fathersNameCheck"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
              href="{{url_for('birthRegistration.fathersNameCheck')}}">
              Change</a>
          </dd>
        </div>

        {% if session["application"]["birthRegistration"]["fathersNameCheck"] == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Father&rsquo;s name
          </dt>
          <dd class="govuk-summary-list__value">
            {{session["application"]["birthRegistration"]["fathers_first_name"]}} {{session["application"]["birthRegistration"]["fathers_last_name"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
              href="{{url_for('birthRegistration.fathersName')}}">
              Change</a>
          </dd>
        </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Place of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{session["application"]["birthRegistration"]["place_of_birth"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
              href="{{url_for('birthRegistration.placeOfBirth')}}">
              Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Adopted
          </dt>
          <dd class="govuk-summary-list__value">
            {{session["application"]["birthRegistration"]["adopted"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
              href="{{url_for('birthRegistration.adopted')}}">
              Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Forces registering service, British Consul or High Commission, or under Merchant Shipping or Civil Aviation provisions
          </dt>
          <dd class="govuk-summary-list__value">
            {{session["application"]["birthRegistration"]["forces"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
              href="{{url_for('birthRegistration.forces')}}">
              Change</a>
          </dd>
        </div>
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registered birth country
        </dt>
        <dd class="govuk-summary-list__value">
          {{session["application"]["birthRegistration"]["country"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
            href="{{url_for('birthRegistration.country')}}">
            Change</a>
        </dd>
      </div>
      {% endif %}

    </dl>

    <form method="POST"
          action="{{url_for('birthRegistration.checkYourAnswers')}}">
      {{ form.csrf_token }}

      <div class="govuk-button-group">

        <button class="govuk-button"
                data-module="govuk-button">
          Save and continue
        </button>

        <a href="{{url_for('taskList.index')}}"
           class="govuk-link govuk-link--no-visited-state">Return to task list</a>
      </div>
    </form>

  </div>
</div>
{% endblock %}
