{% extends 'base.html' %}
{% import "govuk-design-system-templates/_summary-list-item.html" as summary_list_item %}

{% macro check_your_answers_row(title, changeLinkHiddenText, changeLinkUrlFor, value) %}
    {{ summary_list_item.render(title, changeLinkHiddenText, url_for(changeLinkUrlFor, check_source='section', pages_from_check=1), value) }}
{% endmacro %}

{% block title %}Check your answers: Birth registration details{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Check your answers:</span> Birth registration details
            </h1>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ check_your_answers_row(
                    title='Birth name',
                    changeLinkHiddenText='birth name',
                    changeLinkUrlFor='birthRegistration.index',
                    value=(application_data.birth_registration_data.first_name + ' ' + application_data.birth_registration_data.middle_names + ' ' + application_data.birth_registration_data.last_name)
                ) }}

                {{ check_your_answers_row(
                    title='Date of birth',
                    changeLinkHiddenText='date of birth',
                    changeLinkUrlFor='birthRegistration.dob',
                    value=(application_data.birth_registration_data.date_of_birth_formatted_DD_MMMM_YYYY)
                ) }}

                {{ check_your_answers_row(
                    title='Birth registered in UK',
                    changeLinkHiddenText='whether your birth was regstered in the UK',
                    changeLinkUrlFor='birthRegistration.ukCheck',
                    value=(application_data.birth_registration_data.birth_registered_in_uk_formatted)
                ) }}

                {% if application_data.birth_registration_data.birth_registered_in_uk %}
                    {{ check_your_answers_row(
                        title='Town or city of birth',
                        changeLinkHiddenText='your town or city of birth',
                        changeLinkUrlFor='birthRegistration.placeOfBirth',
                        value=(application_data.birth_registration_data.town_city_of_birth)
                    ) }}

                    {% macro mothersNameValue() %}
                        {{ application_data.birth_registration_data.mothers_first_name }}
                        {{ application_data.birth_registration_data.mothers_last_name }}<br>
                        (Maiden name: {{ application_data.birth_registration_data.mothers_maiden_name }})
                    {% endmacro %}
                    {{ check_your_answers_row(
                        title="Mother's name",
                        changeLinkHiddenText="your mother's name",
                        changeLinkUrlFor='birthRegistration.mothersName',
                        value=mothersNameValue()
                    ) }}

                    {{ check_your_answers_row(
                        title="Father's name listed",
                        changeLinkHiddenText="whether your father's name is listed on your birth or adoption certificate",
                        changeLinkUrlFor='birthRegistration.fathersNameCheck',
                        value=(application_data.birth_registration_data.fathers_name_on_birth_certificate_formatted)
                    ) }}

                    {% if application_data.birth_registration_data.fathers_name_on_birth_certificate %}
                        {{ check_your_answers_row(
                            title="Father's name",
                            changeLinkHiddenText="your father's name",
                            changeLinkUrlFor='birthRegistration.fathersName',
                            value=(application_data.birth_registration_data.fathers_first_name + ' ' + application_data.birth_registration_data.fathers_last_name)
                        ) }}
                    {% endif %}

                    {{ check_your_answers_row(
                        title="Adopted",
                        changeLinkHiddenText="whether you were adopted",
                        changeLinkUrlFor='birthRegistration.adopted',
                        value=(application_data.birth_registration_data.adopted_formatted)
                    ) }}

                    {% if application_data.birth_registration_data.adopted %}
                        {{ check_your_answers_row(
                            title="Adopted in UK",
                            changeLinkHiddenText="whether you were adopted in the UK",
                            changeLinkUrlFor='birthRegistration.adoptedUK',
                            value=(application_data.birth_registration_data.adopted_in_the_uk_formatted)
                        ) }}
                    {% endif %}

                    {{ check_your_answers_row(
                        title="Forces registering service, British Consul or High Commission, or under
                               Merchant Shipping or Civil Aviation provisions",
                        changeLinkHiddenText="whether your birth was registered under the Forces registering service,
                                              British Consul or High Commission, or under Merchant Shipping or Civil Aviation provisions",
                        changeLinkUrlFor='birthRegistration.forces',
                        value=(application_data.birth_registration_data.forces_registration_formatted)
                    ) }}

                {% else %}
                    {{ check_your_answers_row(
                        title="Registered birth country",
                        changeLinkHiddenText="the country you were born in",
                        changeLinkUrlFor='birthRegistration.country',
                        value=(application_data.birth_registration_data.country_of_birth)
                    ) }}
                {% endif %}
            </dl>

            <form method="POST" action="#">
                {{ form.csrf_token }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
