{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block title %}Is your father's name listed on the certificate?{% endblock %}

{% block backLink %}
    <a href="{{ url_for('birthRegistration.mothersName') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="{{ url_for('birthRegistration.fathersNameCheck') }}">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='fathers_name_on_certificate',
                    question="Is your father's name listed on the certificate?",
                    radiosOptions={
                        'questionIsPageHeading': true
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
