{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}

{% block title %}What is your mother’s name?{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What is your mother’s name as listed on your birth or adoption certificate?
                            </h1>
                        </legend>

                        {{ textInput.renderFor(
                            form,
                            fieldName='first_name',
                            textInputForOptions={
                                'labelOptions':{ 'htmlOrText': 'First name(s)' },
                                'classes': 'govuk-input--width-20',
                                'autocomplete': 'given-name'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='last_name',
                            textInputForOptions={
                                'labelOptions':{ 'htmlOrText': 'Last name' },
                                'classes': 'govuk-input--width-20',
                                'autocomplete': 'family-name'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='maiden_name',
                            textInputForOptions={
                                'labelOptions':{ 'htmlOrText': 'Maiden name (include even if same as last name)' },
                                'classes': 'govuk-input--width-20',
                                'autocomplete': 'family-name'
                            }
                        ) }}

                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
