{% extends 'base.html' %}

{% block title %}What is the town or city of birth on your birth or adoption certificate?{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    {% import "govuk-design-system-templates/error-summary.html" as error_summary %}
    {% import "govuk-design-system-templates/text-input.html" as textInput %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ textInput.renderFor(
                    form,
                    fieldName='place_of_birth',
                    textInputForOptions={
                        'labelOptions': {
                            'htmlOrText': 'What is the town or city of birth on your birth or adoption certificate?',
                            'isPageHeading': true,
                            'classes': 'govuk-label--l'
                        },
                        'classes': 'govuk-!-width-three-quarters'
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
