{% extends 'base.html' %}

{% block title %}Was your birth registered in the UK?{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    {% import "govuk-design-system-templates/error-summary.html" as error_summary %}
    {% import "govuk-design-system-templates/radios.html" as radios %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='birth_registered_in_uk',
                    question="Was your birth registered in the UK?",
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'hintOptions':{
                            'htmlOrText': 'Select yes if you have a UK birth or adoption certificate or your birth
                                           was registered by the Forces registering service, a British Consul or
                                           High Commission, or under Merchant Shipping or Civil Aviation provisions.'
                        }
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
