{% extends 'base.html' %}

{% block title %}GRC applications{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">
                View and download GRC applications
            </h1>

            {% if message != "" %}
                <div class="govuk-inset-text">{{ message }}</div>
            {% endif %}

            <form method="POST" action="{{ url_for('applications.search_by_reference_number') }}"
                  class="govuk-inset-text">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                    Search by reference number
                </h2>

                <div style="display: flex; align-items: baseline; flex-wrap: wrap">
                    <label class="govuk-label govuk-!-margin-right-2" for="reference_number">
                        Reference number
                    </label>
                    <input type="text" id="reference_number" name="reference_number" value=""
                           class="govuk-input govuk-input--width-10 govuk-!-margin-right-2">

                    <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        Go
                    </button>
                </div>
                <p class="govuk-body" style="margin-top: 20px;">
                    <a href="/applications/search" class="govuk-link" style="color: #ccc;">Advanced search</a>
                </p>
            </form>

            <h2 class="govuk-visually-hidden">
                All applications
            </h2>

            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list" role="tablist">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                        <a class="govuk-tabs__tab" href="#new" id="tab_new" role="tab" aria-controls="new" aria-selected="true" tabindex="0">
                            New applications
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item" role="presentation">
                        <a class="govuk-tabs__tab" href="#downloaded" id="tab_downloaded" role="tab" aria-controls="downloaded" aria-selected="false" tabindex="-1">
                            Downloaded applications
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item" role="presentation">
                        <a class="govuk-tabs__tab" href="#completed" id="tab_complete" role="tab" aria-controls="completed" aria-selected="false" tabindex="-1">
                            Completed applications
                        </a>
                    </li>
                </ul>


                <div class="govuk-tabs__panel" id="new" role="tabpanel" aria-labelledby="tab_new">
                    <h2 class="govuk-heading-m">New applications</h2>
                    {% if newApplications.count() == 0 %}
                        <div class="govuk-body">
                            <p>There are no new applications to download.</p>
                        </div>
                    {% else %}
                        <table class="govuk-table new-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Reference number</th>
                                    <th scope="col" class="govuk-table__header">Applicant name</th>
                                    <th scope="col" class="govuk-table__header">Submitted</th>
                                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                {% for application in newApplications %}
                                    {% set application_data = application.application_data() %}
                                    {% if application_data %}
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">
                                            {{ application_data.reference_number_formatted }}
                                            <!--- {{ application.user_input | safe }} -->
                                        </th>
                                        <td class="govuk-table__cell">
                                            {{ application_data.personal_details_data.title }}
                                            {{ application_data.personal_details_data.first_name }}
                                            {{ application_data.personal_details_data.middle_names_or_empty_string }}
                                            <span style="text-decoration: underline;">{{ application_data.personal_details_data.last_name }}</span>
                                        </td>
                                        <td class="govuk-table__cell">
                                            {{ application.updated | format_date }}
                                        </td>
                                        <td class="govuk-table__cell">
                                            <ul class="govuk-list">
                                                <li>
                                                    <a href="{{ url_for('applications.view', reference_number=application.reference_number) }}"
                                                       class="govuk-link">
                                                        View application
                                                        <span class="govuk-visually-hidden">
                                                            for
                                                            {{ application_data.personal_details_data.title }}
                                                            {{ application_data.personal_details_data.first_name }}
                                                            {{ application_data.personal_details_data.middle_names_or_empty_string }}
                                                            {{ application_data.personal_details_data.last_name }}
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr class="govuk-table__row">
                                        <td colspan="5" class="govuk-table__cell">
                                            <p class="govuk-body" style="margin: 10px 0; color: #ccc;">
                                                Valid data not found for application {{ application.reference_number }} - {{ application.email }}
                                                <!--- {{ application.user_input | safe }} -->
                                            </p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>


                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="downloaded" role="tabpanel"
                     aria-labelledby="tab_downloaded">
                    <h2 class="govuk-heading-m">Downloaded applications</h2>
                    {% if downloadedApplications.count() == 0 %}
                        <div class="govuk-body">
                            <p>There are no downloaded applications waiting to be completed.</p>
                        </div>
                    {% else %}
                        <table class="govuk-table downloaded-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Applicant name</th>
                                    <th scope="col" class="govuk-table__header">Submitted</th>
                                    <th scope="col" class="govuk-table__header">Downloaded on</th>
                                    <th scope="col" class="govuk-table__header">Downloaded by</th>
                                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                {% for application in downloadedApplications %}
                                    {% set application_data = application.application_data() %}
                                    {% if application_data %}
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">
                                            {{ application_data.personal_details_data.title }}
                                            {{ application_data.personal_details_data.first_name }}
                                            {{ application_data.personal_details_data.middle_names_or_empty_string }}
                                            <span style="text-decoration: underline;">{{ application_data.personal_details_data.last_name }}</span>
                                        </th>
                                        <td class="govuk-table__cell">
                                            {{ application.updated | format_date }}
                                        </td>
                                        <td class="govuk-table__cell">
                                            {{ application.downloaded | format_date }}
                                        </td>
                                        <td class="govuk-table__cell">
                                            {{ application.downloadedBy }}
                                        </td>
                                        <td class="govuk-table__cell">
                                            <ul class="govuk-list">
                                                <li>
                                                    <a href="{{ url_for('applications.view', reference_number=application.reference_number) }}"
                                                       class="govuk-link">
                                                        View application
                                                        <span class="govuk-visually-hidden">
                                                            for
                                                            {{ application_data.personal_details_data.title }}
                                                            {{ application_data.personal_details_data.first_name }}
                                                            {{ application_data.personal_details_data.middle_names_or_empty_string }}
                                                            {{ application_data.personal_details_data.last_name }}
                                                        </span>
                                                    </a>
                                                </li>
                                                {% if 'userType' in session and session['userType'] == 'ADMIN' %}
                                                    <li>
                                                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                                            <div class="govuk-checkboxes__item">
                                                                <input class="govuk-checkboxes__input" id="{{ application.reference_number }}" name="{{ application.reference_number }}" type="checkbox" onclick="selectOrDeselectApplication('{{ application.reference_number }}')">
                                                                <label class="govuk-label govuk-checkboxes__label" for="{{ application.reference_number }}">
                                                                    Application completed
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr class="govuk-table__row">
                                        <td colspan="5" class="govuk-table__cell">
                                            <p class="govuk-body" style="margin: 10px 0; color: #ccc;">
                                                Valid data not found for application {{ application.reference_number }} - {{ application.email }}
                                                <!--- {{ application.user_input | safe }} -->
                                            </p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr class="govuk-table__row">
                                    <td colspan="5" class="govuk-table__cell" style="text-align: right">
                                        <button id="submit-selected-apps-btn" disabled="disabled" class="govuk-button govuk-!-margin-bottom-0 govuk-button--disabled" data-module="govuk-button" onclick="submitBulkMarkAsComplete('{{ url_for('applications.completed') }}')">
                                            Apply applications completed
                                        </button>
                                        <button class="govuk-button govuk-!-margin-bottom-0 govuk-button--secondary" data-module="govuk-button" onclick="selectAllApplications({{ downloaded_apps_references }})">
                                            Select all as completed
                                        </button>
                                        <button class="govuk-button govuk-!-margin-bottom-0 govuk-button--secondary" data-module="govuk-button" onclick="clearAllApplications({{ downloaded_apps_references }})">
                                            Clear all as completed
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>


                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="completed" role="tabpanel"
                     aria-labelledby="tab_complete">
                    <h2 class="govuk-heading-m">Completed applications</h2>
                    {% if completedApplications.count() == 0 %}
                        <div class="govuk-body">
                            <p>Complete applications are automatically removed after 7 days.</p>
                            <p>There are no complete applications to view.</p>
                        </div>
                    {% else %}
                        <table class="govuk-table completed-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Applicant name</th>
                                    <th scope="col" class="govuk-table__header">Submitted</th>
                                    <th scope="col" class="govuk-table__header">Completed on</th>
                                    <th scope="col" class="govuk-table__header">Completed by</th>
                                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                {% for application in completedApplications %}
                                    {% set application_data = application.application_data() %}
                                    {% if application_data %}
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">
                                            {{ application_data.personal_details_data.title }}
                                            {{ application_data.personal_details_data.first_name }}
                                            {{ application_data.personal_details_data.middle_names_or_empty_string }}
                                            <span style="text-decoration: underline;">{{ application_data.personal_details_data.last_name }}</span>
                                        </th>
                                        <td class="govuk-table__cell">
                                            {{ application.updated | format_date }}
                                        </td>
                                        <td class="govuk-table__cell">
                                            {{ application.completed | format_date }}
                                        </td>
                                        <td class="govuk-table__cell">
                                            {{ application.completedBy }}
                                        </td>
                                        <td class="govuk-table__cell">
                                            <a href="{{ url_for('applications.view', reference_number=application.reference_number) }}"
                                               class="govuk-link">
                                                View application
                                                <span class="govuk-visually-hidden">
                                                    for
                                                    {{ application_data.personal_details_data.title }}
                                                    {{ application_data.personal_details_data.first_name }}
                                                    {{ application_data.personal_details_data.middle_names_or_empty_string }}
                                                    {{ application_data.personal_details_data.last_name }}
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr class="govuk-table__row">
                                        <td colspan="5" class="govuk-table__cell">
                                            <p class="govuk-body" style="margin: 10px 0; color: #ccc;">
                                                Valid data not found for application {{ application.reference_number }} - {{ application.email }}
                                                <!--- {{ application.user_input | safe }} -->
                                            </p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='assets/js/applications.js') }}"></script>
{% endblock %}
