{% macro adminapplication(application_data) %}
    <h1>
        {{ application_data.application_certificate_type }}: {{ application_data.reference_number }}
    </h1>

    <h4 class="govuk-heading-m">Marriage or civil partnership details</h4>
    <ul class="govuk-list govuk-list--bullet">
        <li>Currently married or in a civil partnership: <strong>{{ application_data.partnership_details_data.currently_in_a_partnership_formatted }}</strong></li>
        {% if application_data.partnership_details_data.is_not_in_partnership %}
            <li>Spouse or partner has died: <strong>{{ application_data.partnership_details_data.previous_partnership_partner_died_formatted }}</strong></li>
            <li>Married or in a civil partnership has ended: <strong>{{ application_data.partnership_details_data.previous_partnership_ended_formatted }}</strong></li>
        {% else %}
            <li>Remain married: <strong>{{ application_data.partnership_details_data.plan_to_remain_in_a_partnership_formatted }}</strong></li>
            {% if application_data.partnership_details_data.plan_to_remain_in_a_partnership %}
                <li>Can provide a declaration of consent from your spouse: <strong>{{ application_data.partnership_details_data.partner_agrees_formatted }}</strong></li>
            {% endif %}
            {% if application_data.partnership_details_data.is_interim_certificate %}
                <li>Interim GRC: <strong>{{ application_data.partnership_details_data.confirm_understood_interim_certificate_formatted }}</strong></li>
            {% else %}
                <li>
                    Partner details:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Partner title: <strong>{{ application_data.partnership_details_data.partner_title }}</strong></li>
                        <li>Partner first name: <strong>{{ application_data.partnership_details_data.partner_first_name }}</strong></li>
                        <li>Partner last name: <strong>{{ application_data.partnership_details_data.partner_last_name }}</strong></li>
                        <li>Partner postal address: <strong>{{ application_data.partnership_details_data.partner_postal_address }}</strong></li>
                    </ul>
                </li>
            {% endif %}
        {% endif %}
    </ul>

    <h4 class="govuk-heading-m">Payment details</h4>
    <ul class="govuk-list govuk-list--bullet">
        <li>Payment method: <strong>{{ application_data.submit_and_pay_data.applying_for_help_with_fee_formatted }}</strong></li>
        {% if not application_data.submit_and_pay_data.applying_for_help_with_fee %}
            <li>Reference: <strong>{{ application_data.reference_number }}</strong></li>
        {% endif %}
        {% if application_data.submit_and_pay_data.applying_for_help_with_fee %}
            <li>Help type: <strong>
                {% if application_data.submit_and_pay_data.is_using_online_service %}
                    Using the online service - Reference: {{ application_data.submit_and_pay_data.help_with_fees_reference_number }}
                {% else %}
                    {{ application_data.submit_and_pay_data.how_applying_for_help_with_fees_formatted }}
                {% endif %}
            </strong>
            </li>
        {% endif %}
    </ul>

    <h4 class="govuk-heading-m">Confirmation</h4>
    <ul class="govuk-list govuk-list--bullet">
        <li>Have you ever been issued a Gender Recognition Certificate (or it's equivalent) in another country? <strong>{{ application_data.confirmation_data.gender_recognition_outside_uk_formatted }}</strong></li>
        {% if application_data.confirmation_data.gender_recognition_outside_uk %}
            <li>Do you have official documentation that shows your affirmed gender has been recognised in one of these countries or territories? <strong>{{ application_data.confirmation_data.gender_recognition_from_approved_country_formatted }}</strong></li>
        {% endif %}
        <li>I confirm that I meet the requirements for applying for a Gender Recognition Certificate and I consent to the General Register Office contacting me about my application: <strong>{{ application_data.confirmation_data.consent_to_GRO_contact_formatted }}</strong></li>
    </ul>

    <h4 class="govuk-heading-m">Personal details</h4>
    <ul class="govuk-list govuk-list--bullet">
        <li>Name on certificate
            <ul class="govuk-list govuk-list--bullet">
                <li>Title: <strong>{{ application_data.personal_details_data.title }}</strong></li>
                <li>First name: <strong>{{ application_data.personal_details_data.first_name }}</strong></li>
                <li>Middle name(s): <strong>{{ application_data.personal_details_data.middle_names_or_empty_string }}</strong></li>
                <li>Last name: <strong style="text-decoration: underline;">{{ application_data.personal_details_data.last_name }}</strong></li>
            </ul>
        </li>
        <li>Changed name: <strong>{{ application_data.personal_details_data.changed_name_to_reflect_gender_formatted }}</strong></li>
        <li>Affirmed gender: <strong>{{ application_data.personal_details_data.affirmed_gender_formatted }}</strong></li>
        <li>Transition date: <strong>{{ application_data.personal_details_data.transition_date_formatted_MMMM_YYYY }}</strong></li>
        <li>Statutory Declaration date: <strong>{{ application_data.personal_details_data.statutory_declaration_date_formatted_DD_MMMM_YYYY }}</strong></li>
        <li>Contact preferences
            <ul class="govuk-list govuk-list--bullet">
                {% if application_data.personal_details_data.contact_email_address %}
                    <li>Email: <strong>{{ application_data.personal_details_data.contact_email_address }}</strong></li>
                {% endif %}
                {% if application_data.personal_details_data.contact_by_post %}
                    <li>Post: <strong>{{ application_data.personal_details_data.address_comma_separated }}</strong></li>
                {% endif %}
                {% if application_data.personal_details_data.contact_phone_number != '' %}
                    <li>Phone: <strong>{{ application_data.personal_details_data.contact_phone_number }}</strong></li>
                {% endif %}
            </ul>
        </li>
        <li>Address
            <ul class="govuk-list govuk-list--bullet">
                <li>Building and street: <strong>{{ application_data.personal_details_data.address_line_one }}</strong></li>
                {% if application_data.personal_details_data.address_line_two %}
                    <li><strong>{{ application_data.personal_details_data.address_line_two }}</strong></li>
                {% endif %}
                <li>Town or city: <strong>{{ application_data.personal_details_data.address_town_city }}</strong></li>
                {% if application_data.personal_details_data.address_country %}
                    <li>Country: <strong>{{ application_data.personal_details_data.address_country }}</strong></li>
                {% endif %}
                <li>Postcode: <strong>{{ application_data.personal_details_data.address_postcode }}</strong></li>
            </ul>
        </li>
        <li>Unavailable over the next 6 months: <strong>{{ application_data.personal_details_data.contact_dates_should_avoid_formatted }}</strong>
            {% if application_data.personal_details_data.contact_dates_should_avoid %}
                <ul class="govuk-list govuk-list--bullet">
                    <li>Dates you're unavailable: <strong>{{ application_data.personal_details_data.contact_dates_to_avoid }}</strong></li>
                </ul>
            {% endif %}
        </li>
        <li>Notify HMRC: <strong>{{ application_data.personal_details_data.tell_hmrc_formatted }}</strong>
            {% if application_data.personal_details_data.tell_hmrc %}
                <ul class="govuk-list govuk-list--bullet">
                    <li>National Insurance number: <strong>{{ application_data.personal_details_data.national_insurance_number }}</strong></li>
                </ul>
            {% endif %}
        </li>
    </ul>

    <h4 class="govuk-heading-m">Birth registration information</h4>
    <ul class="govuk-list govuk-list--bullet">
        <li>Birth name
            <ul class="govuk-list govuk-list--bullet">
                <li>First name: <strong>{{ application_data.birth_registration_data.first_name }}</strong></li>
                <li>Middle name(s): <strong>{{ application_data.birth_registration_data.middle_names_or_empty_string }}</strong></li>
                <li>Last name: <strong>{{ application_data.birth_registration_data.last_name }}</strong></li>
            </ul>
        </li>
        <li>Date of birth: <strong>{{ application_data.birth_registration_data.date_of_birth_formatted_DD_MMMM_YYYY }}</strong></li>
        <li>Birth registered in UK: <strong>{{ application_data.birth_registration_data.birth_registered_in_uk_formatted }}</strong></li>
        <li>Affirmed gender: <strong>{{ application_data.personal_details_data.affirmed_gender_formatted }}</strong></li>
        {% if application_data.birth_registration_data.birth_registered_in_uk %}
            <li>Mother's name
                <ul class="govuk-list govuk-list--bullet">
                    <li>First name: <strong>{{ application_data.birth_registration_data.mothers_first_name }}</strong></li>
                    <li>Last name: <strong>{{ application_data.birth_registration_data.mothers_last_name }}</strong></li>
                    <li>Maiden name: <strong>{{ application_data.birth_registration_data.mothers_maiden_name }}</strong></li>
                </ul>
            </li>
            <li>Father's name listed on birth certificate: <strong>{{ application_data.birth_registration_data.fathers_name_on_birth_certificate_formatted }}</strong></li>
            {% if application_data.birth_registration_data.fathers_name_on_birth_certificate %}
                <li>Father's name
                    <ul class="govuk-list govuk-list--bullet">
                        <li>First name: <strong>{{ application_data.birth_registration_data.fathers_first_name }}</strong></li>
                        <li>Last name: <strong>{{ application_data.birth_registration_data.fathers_last_name }}</strong></li>
                    </ul>
                </li>
            {% endif %}
            <li>Place of birth: <strong>{{ application_data.birth_registration_data.town_city_of_birth }}</strong></li>
            <li>Adopted: <strong>{{ application_data.birth_registration_data.adopted_formatted }}</strong></li>
            {% if application_data.birth_registration_data.adopted %}
                <li>Adopted in the UK: <strong>{{ application_data.birth_registration_data.adopted_in_the_uk_formatted }}</strong></li>
            {% endif %}
            <li>Forces registering service, British Consul or High Commission, or under Merchant Shipping or Civil Aviation provisions:
                <strong>{{ application_data.birth_registration_data.forces_registration_formatted }}</strong></li>
        {% else %}
            <li>Registered birth country: <strong>{{ application_data.birth_registration_data.country_of_birth }}</strong></li>
        {% endif %}
    </ul>


    <h2 class="govuk-heading-m">Your documents</h2>
    {#
    <h4>Statutory documents</h4>
    <ul class="govuk-list govuk-list--bullet">
        {% for file in application_data.uploads_data.statutory_declarations %}
            <li>
                {{ file.original_file_name }}
                {% if '.pdf' not in file.aws_file_name | lower %}
                    <img src="{{ file.aws_file_name | image_data }}" width="{{ file.aws_file_name | image_width }}" height="{{ file.aws_file_name | image_height }}" style="max-width: 90%;">
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if application_data.need_partnership_documents %}
        <h4>Marriage / civil partnership documents</h4>
        <ul class="govuk-list govuk-list--bullet">
            {% for file in application_data.uploads_data.partnership_documents %}
                <li>
                    {{ file.original_file_name }}
                    {% if '.pdf' not in file.aws_file_name | lower %}
                        <img src="{{ file.aws_file_name | image_data }}" width="{{ file.aws_file_name | image_width }}" height="{{ file.aws_file_name | image_height }}" style="max-width: 90%;">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if application_data.need_medical_reports %}
        <h4>Your medical reports</h4>
        <ul class="govuk-list govuk-list--bullet">
            {% for file in application_data.uploads_data.medical_reports %}
                <li>
                    {{ file.original_file_name }}
                    {% if '.pdf' not in file.aws_file_name | lower %}
                        <img src="{{ file.aws_file_name | image_data }}" width="{{ file.aws_file_name | image_width }}" height="{{ file.aws_file_name | image_height }}" style="max-width: 90%;">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if application_data.need_evidence_of_living_in_gender %}
        <h4>Evidence of living in your gender</h4>
        <ul class="govuk-list govuk-list--bullet">
            {% for file in application_data.uploads_data.evidence_of_living_in_gender %}
                <li>
                    {{ file.original_file_name }}
                    {% if '.pdf' not in file.aws_file_name | lower %}
                        <img src="{{ file.aws_file_name | image_data }}" width="{{ file.aws_file_name | image_width }}" height="{{ file.aws_file_name | image_height }}" style="max-width: 90%;">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if application_data.need_name_change_documents %}
        <h4>Name change</h4>
        <ul class="govuk-list govuk-list--bullet">
            {% for file in application_data.uploads_data.name_change_documents %}
                <li>
                    {{ file.original_file_name }}
                    {% if '.pdf' not in file.aws_file_name | lower %}
                        <img src="{{ file.aws_file_name | image_data }}" width="{{ file.aws_file_name | image_width }}" height="{{ file.aws_file_name | image_height }}" style="max-width: 90%;">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if application_data.need_overseas_documents %}
        <h4>Overseas certificate documents</h4>
        <ul class="govuk-list govuk-list--bullet">
            {% for file in application_data.uploads_data.overseas_documents %}
                <li>
                    {{ file.original_file_name }}
                    {% if '.pdf' not in file.aws_file_name | lower %}
                        <img src="{{ file.aws_file_name | image_data }}" width="{{ file.aws_file_name | image_width }}" height="{{ file.aws_file_name | image_height }}" style="max-width: 90%;">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4 class="govuk-heading-m">Documents to post</h4>
    <ul class="govuk-list govuk-list--bullet">
        <li>your original or a certified copy of your full birth or adoption certificate</li>
        {% if application_data.submit_and_pay_data.is_using_ex160_form %}
            <li>an EX160 form</li>
        {% endif %}
    </ul>
    #}
{% endmacro %}
