{% extends 'base.html' %}
{% import "helper-macros/random-id.html" as random_id %}

{% block title %}
    Application for
    {{ application_data.personal_details_data.title }}
    {{ application_data.personal_details_data.first_name }}
    {{ application_data.personal_details_data.middle_names_or_empty_string }}
    {{ application_data.personal_details_data.last_name }}
{% endblock %}

{% block backLink %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a href="{{ url_for('admin.index') }}" class="govuk-breadcrumbs__link">
                    Download GRC applications
                </a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Application for
                {{ application_data.personal_details_data.title }}
                {{ application_data.personal_details_data.first_name }}
                {{ application_data.personal_details_data.middle_names_or_empty_string }}
                <span style="text-decoration: underline;">{{ application_data.personal_details_data.last_name }}</span>
            </li>
        </ol>
    </div>
{% endblock %}

{% macro table_caption_and_head_rows(caption) %}
    <caption class="govuk-table__caption govuk-table__caption--m">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            {{ caption }}
        </h2>
    </caption>
    <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Question</th>
            <th scope="col" class="govuk-table__header">Sub-question</th>
            <th scope="col" class="govuk-table__header">Answer</th>
            <th scope="col" class="govuk-table__header">Copy button</th>
        </tr>
    </thead>
{% endmacro %}

{% macro summary_list_item(title, value, subtitle=None, rowsWithThisTitle=None, noWrap=False, noCopyButton=False, alternativeCopyValue=None) %}
    {% set id = random_id.randomId(10) %}
    <tr class="govuk-table__row">
        {% if title %}
            <th scope="row" id="row-header-{{ id }}"
                rowspan="{{ (rowsWithThisTitle if rowsWithThisTitle else 1) }}"
                {{ ('colspan=2') if subtitle==None }}
                class="govuk-table__header govuk-!-font-weight-regular">
                {{ title }}
            </th>
        {% endif %}
        {% if subtitle %}
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                {{ subtitle }}
            </th>
        {% endif %}
        <td class="govuk-table__cell govuk-!-font-weight-bold"
            style="{{ 'white-space: nowrap' if noWrap }}">
            {{ value }}
        </td>
        <td class="govuk-table__cell">
            {% if not noCopyButton %}
                {# Note: the following line should all be on one line to allow copy/paste to work without copying line breaks #}
                <div style="display: none" id="value-{{ id }}">{% if alternativeCopyValue %}{{ alternativeCopyValue }}{% else %}{{ value }}{% endif %}</div>
                <button class="govuk-button govuk-button--secondary copyToClipboardButton" data-module="govuk-button"
                        id="button-{{ id }}" aria-describedby="row-header-{{ id }} button-{{ id }}" onclick="copyToClipboard('{{ id }}')">
                    <span id="button-text-{{ id }}">
                        Copy
                    </span>
                    <span class="govuk-visually-hidden">
                        the value
                        "{% if alternativeCopyValue %}{{ alternativeCopyValue }}{% else %}{{ value }}{% endif %}"
                        to the clipboard
                    </span>
                </button>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% block content %}
    <script>
        function copyToClipboard(id) {
            var valueElement = document.getElementById('value-' + id);
            var buttonTextElement = document.getElementById('button-text-' + id);
            var valueToCopy = valueElement.innerText.trim();
            navigator.clipboard
                .writeText(valueToCopy)
                .then(function () {
                    buttonTextElement.innerText = 'Copied';
                    window.setTimeout(() => { buttonTextElement.innerText = 'Copy'; }, 2000);
                }, function () {
                    buttonTextElement.innerText = 'Copy failed';
                });
        }
        if (navigator.clipboard && navigator.clipboard.writeText) {
            document.querySelectorAll(".copyToClipboardButton").forEach(el => el.style.display = 'block');
        }
    </script>
    <style>
        .copyToClipboardButton {
            /* display: none; */
        }

        table.govuk-table {
            width: 100%;
            table-layout: fixed;
            display: table;
        }

        table.govuk-table tbody.govuk-table__body tr.govuk-table__row th:nth-child(1) {
            width: calc(65% - 45px);
        }

        table.govuk-table tbody.govuk-table__body tr.govuk-table__row td:nth-child(2) {
            width: calc(35% - 45px);
        }

        table.govuk-table tbody.govuk-table__body tr.govuk-table__row td:last-child {
            width: 90px;
            text-align: right;
        }
    </style>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Application for
                {{ application_data.personal_details_data.title }}
                {{ application_data.personal_details_data.first_name }}
                {{ application_data.personal_details_data.middle_names_or_empty_string }}
                <span style="text-decoration: underline;">{{ application_data.personal_details_data.last_name }}</span>

                <span class="govuk-caption-l" style="margin-top: 15px;">
                    {{ application_data.application_certificate_type }}: {{ application_data.reference_number }}
                </span>
            </h1>


            <p class="govuk-body">
                <a href="{{ url_for('applications.download', reference_number=application_data.reference_number) }}"
                    target="_blank" class="govuk-link">
                    Download application (PDF)
                </a>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-8">
                <a href="{{ url_for('applications.attachments', reference_number=application_data.reference_number) }}"
                    target="_blank" class="govuk-link">
                    Download attachments (ZIP file)
                </a>
            </p>


            <table class="govuk-table">
                {{ table_caption_and_head_rows(caption="Marriage or civil partnership details") }}

                <tbody class="govuk-table__body">
                    {{ summary_list_item(
                        title='Currently married or in a civil partnership',
                        value=(application_data.partnership_details_data.currently_in_a_partnership_formatted)
                    ) }}

                    {% if application_data.partnership_details_data.is_not_in_partnership %}
                        {{ summary_list_item(
                            title='Spouse or partner has died',
                            value=(application_data.partnership_details_data.previous_partnership_partner_died_formatted)
                        ) }}

                        {{ summary_list_item(
                            title='Marriage or civil partnership has ended',
                            value=(application_data.partnership_details_data.previous_partnership_ended_formatted)
                        ) }}

                    {% else %}
                        {{ summary_list_item(
                            title='Remain married',
                            value=(application_data.partnership_details_data.plan_to_remain_in_a_partnership_formatted)
                        ) }}

                        {% if application_data.partnership_details_data.plan_to_remain_in_a_partnership %}
                            {{ summary_list_item(
                                title='Can provide a declaration of consent from your spouse',
                                value=(application_data.partnership_details_data.partner_agrees_formatted)
                            ) }}
                        {% endif %}

                        {% if application_data.partnership_details_data.is_interim_certificate %}
                            {{ summary_list_item(
                                title='Interim GRC',
                                value=(application_data.partnership_details_data.confirm_understood_interim_certificate_formatted)
                            ) }}

                        {% else %}
                            {{ summary_list_item(
                                title='Partner title',
                                value=(application_data.partnership_details_data.partner_title)
                            ) }}
                            {{ summary_list_item(
                                title='Partner first name',
                                value=(application_data.partnership_details_data.partner_first_name)
                            ) }}
                            {{ summary_list_item(
                                title='Partner last name',
                                value=(application_data.partnership_details_data.partner_last_name)
                            ) }}
                            {% macro partnerPostalAddressValue() %}
                                {# WARNING: The next line should all be on one line to ensure the line breaks appear correctly! #}
                                <span style="white-space: pre-line;">{{ application_data.partnership_details_data.partner_postal_address }}</span>
                            {% endmacro %}
                            {{ summary_list_item(
                                title='Partner postal address',
                                value=(partnerPostalAddressValue())
                            ) }}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>


            <table class="govuk-table">
                {{ table_caption_and_head_rows(caption="Payment details") }}

                <tbody class="govuk-table__body">
                    {{ summary_list_item(
                        title='Payment method',
                        value=(application_data.submit_and_pay_data.applying_for_help_with_fee_formatted)
                    ) }}

                    {% if not application_data.submit_and_pay_data.applying_for_help_with_fee %}
                        {{ summary_list_item(
                            title='Payment reference',
                            value=(application_data.reference_number)
                        ) }}
                    {% endif %}

                    {% if application_data.submit_and_pay_data.applying_for_help_with_fee %}
                        {{ summary_list_item(
                            title='Help type',
                            value=(application_data.submit_and_pay_data.how_applying_for_help_with_fees_formatted)
                        ) }}

                        {% if application_data.submit_and_pay_data.is_using_online_service %}
                            {{ summary_list_item(
                                title='Help with Fees reference number',
                                value=(application_data.submit_and_pay_data.help_with_fees_reference_number)
                            ) }}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>


            <table class="govuk-table">
                {{ table_caption_and_head_rows(caption="Confirmation") }}
                
                <tbody class="govuk-table__body">
                    {{ summary_list_item(
                        title="Have you ever been issued a Gender Recognition Certificate (or its equivalent) in another country?",
                        value=application_data.confirmation_data.gender_recognition_outside_uk_formatted
                    ) }}

                    {{ summary_list_item(
                        title="Do you have official documentation that shows your affirmed gender has been recognised in an approved country or territory?",
                        value=application_data.confirmation_data.gender_recognition_from_approved_country_formatted
                    ) }}

                    {{ summary_list_item(
                        title="I confirm that I meet the requirements for applying for a Gender Recognition Certificate and
                               I consent to the General Register Office contacting me about my application:",
                        value=application_data.confirmation_data.consent_to_GRO_contact_formatted
                    ) }}
                </tbody>
            </table>


            <table class="govuk-table">
                {{ table_caption_and_head_rows(caption="Personal details") }}
                
                <tbody class="govuk-table__body">
                    {{ summary_list_item(
                        title="Name (as you would like it to appear on your Gender Recognition Certificate)",
                        subtitle="Title",
                        value=application_data.personal_details_data.title,
                        rowsWithThisTitle='4'
                    ) }}

                    {{ summary_list_item(
                        subtitle="First name",
                        value=application_data.personal_details_data.first_name
                    ) }}

                    {{ summary_list_item(
                        subtitle="Middle name(s)",
                        value=(application_data.personal_details_data.middle_names_or_empty_string)
                    ) }}

                    {{ summary_list_item(
                        subtitle="Last name",
                        value=application_data.personal_details_data.last_name
                    ) }}

                    {{ summary_list_item(
                            title="Ever changed name",
                            value=(application_data.personal_details_data.changed_name_to_reflect_gender_formatted)
                    ) }}

                    {{ summary_list_item(
                        title="Affirmed gender",
                        value=(application_data.personal_details_data.affirmed_gender_formatted)
                    ) }}

                    {% macro transitionDateValue() %}
                        {{ application_data.personal_details_data.transition_date_formatted_MMMM_YYYY }}<br>
                        ({{ application_data.personal_details_data.transition_date_formatted_DD_MM_YYYY }})
                    {% endmacro %}
                    {{ summary_list_item(
                        title="When you transitioned",
                        value=( transitionDateValue()),
                        alternativeCopyValue=(application_data.personal_details_data.transition_date_formatted_DD_MM_YYYY)
                    ) }}

                    {% macro statutoryDeclarationDateValue() %}
                        {{ application_data.personal_details_data.statutory_declaration_date_formatted_DD_MMMM_YYYY }}<br>
                        ({{ application_data.personal_details_data.statutory_declaration_date_formatted_DD_MM_YYYY }})
                    {% endmacro %}
                    {{ summary_list_item(
                        title="When you signed your statutory declaration",
                        value=(statutoryDeclarationDateValue()),
                        alternativeCopyValue=(application_data.personal_details_data.statutory_declaration_date_formatted_DD_MM_YYYY)
                    ) }}

                    {% set contactPreferencesLines = (
                           (1 if application_data.personal_details_data.contact_email_address else 0) +
                           (1 if application_data.personal_details_data.contact_phone_number else 0) +
                           (1 if application_data.personal_details_data.contact_by_post else 0)
                    ) %}
                    {% set phoneFirst = (
                            not application_data.personal_details_data.contact_email_address and
                            application_data.personal_details_data.contact_phone_number
                    ) %}
                    {% set postFirst = (
                            not application_data.personal_details_data.contact_email_address and
                            not application_data.personal_details_data.contact_phone_number and
                            application_data.personal_details_data.contact_by_post
                    ) %}

                    {% if application_data.personal_details_data.contact_email_address %}
                        {{ summary_list_item(
                            title="Contact preferences",
                            subtitle="Email",
                            value=(application_data.personal_details_data.contact_email_address),
                            rowsWithThisTitle=contactPreferencesLines
                        ) }}
                    {% endif %}

                    {% if application_data.personal_details_data.contact_phone_number %}
                        {% if phoneFirst %}
                            {{ summary_list_item(
                                title="Contact preferences",
                                subtitle="Phone",
                                value=(application_data.personal_details_data.contact_phone_number),
                                rowsWithThisTitle=contactPreferencesLines
                            ) }}
                        {% else %}
                            {{ summary_list_item(
                                subtitle="Phone",
                                value=(application_data.personal_details_data.contact_phone_number)
                            ) }}
                        {% endif %}
                    {% endif %}

                    {% if application_data.personal_details_data.contact_by_post %}
                        {% if postFirst %}
                            {{ summary_list_item(
                                title="Contact preferences",
                                subtitle="Post",
                                value=(application_data.personal_details_data.address_comma_separated),
                                rowsWithThisTitle=contactPreferencesLines
                            ) }}
                        {% else %}
                            {{ summary_list_item(
                                subtitle="Post",
                                value=(application_data.personal_details_data.address_comma_separated)
                            ) }}
                        {% endif %}
                    {% endif %}

                    {% macro addressValue() %}
                        {{ application_data.personal_details_data.address_line_one }}<br>
                        {% if application_data.personal_details_data.address_line_two %}
                            {{ application_data.personal_details_data.address_line_two }}<br>
                        {% endif %}
                        {{ application_data.personal_details_data.address_town_city }}<br>
                        {% if application_data.personal_details_data.address_country %}
                            {{ application_data.personal_details_data.address_country }}<br>
                        {% endif %}
                        {{ application_data.personal_details_data.address_postcode }}
                    {% endmacro %}
                    {{ summary_list_item(
                        title="Address",
                        value=(addressValue()),
                        alternativeCopyValue=(application_data.personal_details_data.address_with_line_breaks)
                    ) }}

                    {% if application_data.personal_details_data.contact_dates_should_avoid %}
                        {{ summary_list_item(
                            title="Unavailable over the next 6 months",
                            value=(application_data.personal_details_data.contact_dates_should_avoid_formatted)
                        ) }}
                        {% if application_data.personal_details_data.contact_dates_should_avoid %}
                            {% macro unavailabilityDates() %}
                                {# Note: The following <span> should all be on one line, to allow the line breaks to work correctly #}
                                <span style="white-space: pre-line;">{{ application_data.personal_details_data.contact_dates_to_avoid }}</span>
                            {% endmacro %}
                            {{ summary_list_item(
                                title="Unavailability dates",
                                value=(unavailabilityDates()),
                                alternativeCopyValue=(application_data.personal_details_data.contact_dates_to_avoid)
                            ) }}
                        {% endif %}
                    {% endif %}

                    {% if application_data.personal_details_data.contact_dates_to_avoid_option %}
                        {{ summary_list_item(
                            title="Unavailable over the next 6 months",
                            value=(application_data.personal_details_data.contact_dates_to_avoid_option_formatted)
                        ) }}
                        {% macro unavailabilityDateOrDateRanges() %}
                            {% if application_data.personal_details_data.contact_date_to_avoid %}
                                {# Note: The following <span> should all be on one line, to allow the line breaks to work correctly #}
                                <span style="white-space: pre-line;">{{ application_data.personal_details_data.contact_date_to_avoid_formatted_DD_MM_YYYY }}</span>
                            {% endif %}
                            {% if application_data.personal_details_data.contact_date_ranges_to_avoid %}
                                {% for from_date, to_date in application_data.personal_details_data.contact_date_ranges_to_avoid_formatted_DD_MM_YYYY %}
                                    <span style="white-space: pre-line;">From {{ from_date }} to {{ to_date }}</span>
                                {% endfor %}
                            {% endif %}
                        {% endmacro %}

                        {% if application_data.personal_details_data.contact_dates_to_avoid_option_bool %}
                            {{ summary_list_item(
                                title="Unavailability dates",
                                value=(unavailabilityDateOrDateRanges())
                            ) }}
                        {% endif %}
                    {% endif %}

                    {{ summary_list_item(
                        title="Notify HMRC",
                        value=(application_data.personal_details_data.tell_hmrc_formatted)
                    ) }}

                    {% if application_data.personal_details_data.tell_hmrc %}
                        {{ summary_list_item(
                            title="National insurance number",
                            value=(application_data.personal_details_data.national_insurance_number)
                        ) }}
                    {% endif %}
                </tbody>
            </table>


            <table class="govuk-table">
                {{ table_caption_and_head_rows(caption="Birth registration details") }}
                
                <tbody class="govuk-table__body">
                    {{ summary_list_item(
                        title="Birth name",
                        subtitle="First name",
                        value=(application_data.birth_registration_data.first_name),
                        rowsWithThisTitle='3'
                    ) }}

                    {{ summary_list_item(
                        subtitle="Middle names",
                        value=(application_data.birth_registration_data.middle_names_or_empty_string)
                    ) }}

                    {{ summary_list_item(
                        subtitle="Last name",
                        value=(application_data.birth_registration_data.last_name)
                    ) }}

                    {{ summary_list_item(
                        title="Date of birth",
                        value=(application_data.birth_registration_data.date_of_birth_formatted_DD_MM_YYYY_dots),
                        noWrap=True
                    ) }}

                    {{ summary_list_item(
                        title="Birth registered in UK",
                        value=(application_data.birth_registration_data.birth_registered_in_uk_formatted)
                    ) }}

                    {{ summary_list_item(
                        title="Affirmed gender",
                        value=(application_data.personal_details_data.affirmed_gender_formatted)
                    ) }}
                    {% if application_data.birth_registration_data.birth_registered_in_uk %}
                        {{ summary_list_item(
                            title="Mother's name",
                            subtitle="First name",
                            value=(application_data.birth_registration_data.mothers_first_name),
                            rowsWithThisTitle='3'
                        ) }}
                        {{ summary_list_item(
                            subtitle="Last name",
                            value=(application_data.birth_registration_data.mothers_last_name)
                        ) }}
                        {{ summary_list_item(
                            subtitle="Maiden name",
                            value=(application_data.birth_registration_data.mothers_maiden_name)
                        ) }}

                        {{ summary_list_item(
                            title="Father's name listed",
                            value=(application_data.birth_registration_data.fathers_name_on_birth_certificate_formatted)
                        ) }}

                        {% if application_data.birth_registration_data.fathers_name_on_birth_certificate %}
                            {{ summary_list_item(
                                title="Father's name",
                                subtitle="First name(s)",
                                value=(application_data.birth_registration_data.fathers_first_name),
                                rowsWithThisTitle='2'
                            ) }}
                            {{ summary_list_item(
                                subtitle="Last name",
                                value=(application_data.birth_registration_data.fathers_last_name)
                            ) }}
                        {% endif %}

                        {{ summary_list_item(
                            title='Town or city of birth',
                            value=(application_data.birth_registration_data.town_city_of_birth)
                        ) }}

                        {{ summary_list_item(
                            title="Adopted",
                            value=(application_data.birth_registration_data.adopted_formatted)
                        ) }}

                        {% if application_data.birth_registration_data.adopted %}
                            {{ summary_list_item(
                                title="Adopted in UK",
                                value=(application_data.birth_registration_data.adopted_in_the_uk_formatted)
                            ) }}
                        {% endif %}

                        {{ summary_list_item(
                            title="Forces registering service, British Consul or High Commission, or under
                                   Merchant Shipping or Civil Aviation provisions",
                            value=(application_data.birth_registration_data.forces_registration_formatted)
                        ) }}

                    {% else %}
                        {{ summary_list_item(
                            title="Registered birth country",
                            value=(application_data.birth_registration_data.country_of_birth)
                        ) }}
                    {% endif %}
                </tbody>
            </table>


            <table class="govuk-table">
                {{ table_caption_and_head_rows(caption="Uploaded documents") }}
                
                {% macro uploadedDocumentsList(files) %}
                    <ol class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0" style="list-style-type: auto;">
                        {% for file in files %}
                            <li>
                                <a href="{{ request.host_url[:-1] + url_for('applications.downloadfile', file_name=file.aws_file_name) }}"
                                    target="_blank" class="govuk-link">
                                    {{ file.original_file_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                {% endmacro %}
            
                <tbody class="govuk-table__body">
                    {% if application_data.need_medical_reports %}
                        {{ summary_list_item(
                            title='Your medical reports',
                            value=(uploadedDocumentsList(application_data.uploads_data.medical_reports)),
                            noCopyButton=True
                        ) }}
                    {% endif %}

                    {% if application_data.need_evidence_of_living_in_gender %}
                        {{ summary_list_item(
                            title='Evidence of living in your gender',
                            value=(uploadedDocumentsList(application_data.uploads_data.evidence_of_living_in_gender)),
                            noCopyButton=True
                        ) }}
                    {% endif %}

                    {% if application_data.need_name_change_documents %}
                        {{ summary_list_item(
                            title='Name change documents',
                            value=(uploadedDocumentsList(application_data.uploads_data.name_change_documents)),
                            noCopyButton=True
                        ) }}
                    {% endif %}

                    {% if application_data.need_partnership_documents %}
                        {{ summary_list_item(
                            title='Marriage documents',
                            value=(uploadedDocumentsList(application_data.uploads_data.partnership_documents)),
                            noCopyButton=True
                        ) }}
                    {% endif %}
    
                    {% if application_data.need_overseas_documents %}
                        {{ summary_list_item(
                            title='Overseas certificate documents',
                            value=(uploadedDocumentsList(application_data.uploads_data.overseas_documents)),
                            noCopyButton=True
                        ) }}
                    {% endif %}
    
                    {{ summary_list_item(
                        title='Statutory declarations',
                        value=(uploadedDocumentsList(application_data.uploads_data.statutory_declarations)),
                        noCopyButton=True
                    ) }}
                </tbody>
            </table>


            <table class="govuk-table">
                {{ table_caption_and_head_rows(caption="Documents to post") }}

                <tbody class="govuk-table__body">
                    {{ summary_list_item(
                        title='Your original or a certified copy (opens in a new tab) of your full birth or adoption certificate',
                        value='Yes'
                    ) }}

                    {{ summary_list_item(
                        title='An EX160 form',
                        value=('Yes' if application_data.submit_and_pay_data.is_using_ex160_form else 'No')
                    ) }}
                </tbody>
            </table>

        </div>
    </div>
{%  endblock %}
