{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Reset your password
            </h1>

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="{{ url_for('forgot_password.index') }}">
                {{ form.csrf_token }}

                {{ textInput.renderFor(
                    form,
                    fieldName='email_address',
                    textInputForOptions={
                        'labelOptions':{ 'htmlOrText': 'Email address' },
                        'classes': 'govuk-input--width-20',
                        'type': 'email',
                        'autocomplete': 'email',
                        'attributes': [ ('spellcheck', 'false') ]
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Submit
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
