{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}

{% block title %}Email address{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Email address
            </h1>

            <p class="govuk-body">
                You need to provide an email address to apply for a Gender Recognition Certificate using this service.
                This is so we can save your progress and you can return to your application later.
            </p>
            <p class="govuk-body">
                If this is your first time using this service, we will give you a reference number.
                You will need this if you return to your application.
            </p>
            <p class="govuk-body">
                If you are returning to your application, you will need your application reference number.
                If you have lost or forgotten it, you can start a new application.
            </p>
            
            <div class="govuk-inset-text">
                Before you start, make sure you have read the guidance on
                <a href="https://www.gov.uk/apply-gender-recognition-certificate" target="_blank" class="govuk-link">
                    applying for a Gender Recognition Certificate (opens in a new tab)</a>.
            </div>


            <form method="POST">
                {{ form.csrf_token }}

                {{ textInput.renderFor(
                    form,
                    fieldName='email',
                    textInputForOptions={
                        'labelOptions': { 'htmlOrText': 'What is your email address?' },
                        'classes': 'govuk-input--width-20',
                        'autocomplete': 'email',
                        'attributes': [ ('spellcheck', 'false') ]
                    }
                ) }}

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>

        </div>
    </div>
{% endblock %}
