{% extends 'base.html' %}

{% block backLink %}
    <a href="{{ url_for('startApplication.index') }}"
       class="govuk-back-link">
        Back
    </a>
{% endblock %}

{% block content %}
    {% import "govuk-design-system-templates/error-summary.html" as error_summary %}
    {% import "govuk-design-system-templates/radios.html" as radios %}
    {% import "govuk-design-system-templates/text-input.html" as textInput %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="{{ url_for('startApplication.isFirstVisit') }}">
                {{ form.csrf_token }}

                {% macro lostReferenceHtmlBlock() %}
                    <p class="govuk-hint">
                        You will need to start a new application
                    </p>
                {% endmacro %}
                {{ radios.renderFor(
                    form,
                    fieldName='isFirstVisit',
                    question="Have you already started an application?",
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'conditionalOptions': [
                            ('HAS_REFERENCE',
                            textInput.renderFor(
                                form,
                                fieldName='reference',
                                textInputForOptions={
                                    'labelOptions':{ 'htmlOrText': 'Reference number' },
                                    'classes': 'govuk-input--width-10'
                                }
                            )),
                            ('LOST_REFERENCE', lostReferenceHtmlBlock())
                        ]
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
