{% extends 'base.html' %}

{% block backLink %}
    <a href="{{ url_for('startApplication.isFirstVisit') }}"
       class="govuk-back-link">
        Back
    </a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Lost reference number
            </h1>

            <p class="govuk-body">
                Unfortunately, if you have lost you reference number, you must start a new application.
            </p>
            <p class="govuk-body">
                We've taken this decision because of the sensitive nature of the information that this service holds.
            </p>
            <p class="govuk-body">
                The admin team won't be able to help you recover a lost reference number.
            </p>

            <p class="govuk-body">
                Click Continue below to start a new application.
            </p>

            <form method="post" action="{{ url_for('startApplication.lostReference') }}">
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
