{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block backLink %}
    <a href="{{ url_for('startApplication.reference') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="{{ url_for('startApplication.overseas_check') }}">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='overseasCheck',
                    question="Have you ever been issued a Gender Recognition Certificate (or its equivalent) in another country?",
                    radiosOptions={
                        'questionIsPageHeading': true
                    }
                ) }}

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>

        </div>
    </div>
{% endblock %}
