{% extends 'base.html' %}
{% import "govuk-design-system-templates/_summary-list-item.html" as summary_list_item %}
{% import "govuk-design-system-templates/checkbox-single.html" as checkbox_single %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}

{% block title %}Check your answers before sending your application{% endblock %}

{%  set partnerName = 'civil partner'
    if application_data.partnership_details_data.is_in_civil_partnership
    else 'spouse' %}
{%  set inYourPartnershipName = 'in your civil partnership'
    if application_data.partnership_details_data.is_in_civil_partnership
    else 'married' %}

{% block backLink %}
    {% set backLink = (
        url_for('submitAndPay.helpType')
        if application_data.submit_and_pay_data.applying_for_help_with_fee
        else url_for('submitAndPay.index')
    ) %}
    <a href="{{ backLink }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Check your answers before sending your application
            </h1>

            <h2 class="govuk-heading-m">
                Confirmation
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summary_list_item.render(
                    title='Have you ever been issued a Gender Recognition Certificate (or its equivalent) in another country?',
                    changeLinkHiddenText='if you have ever been issued a Gender Recognition Certificate (or its equivalent) in another country',
                    changeLinkUrl=url_for('startApplication.overseas_check'),
                    value=(application_data.confirmation_data.gender_recognition_outside_uk_formatted)
                ) }}

                {% if application_data.confirmation_data.gender_recognition_outside_uk %}
                    {{ summary_list_item.render(
                        title='Do you have official documentation that shows you have ever been issued a Gender Recognition Certificate (or its equivalent) in one of the allowed countries or territories?',
                        changeLinkHiddenText='if you have official documentation that shows you have ever been issued a Gender Recognition Certificate (or its equivalent) in one of the allowed countries or territories',
                        changeLinkUrl=url_for('startApplication.overseas_approved_check'),
                        value=(application_data.confirmation_data.gender_recognition_from_approved_country_formatted)
                    ) }}
                {% endif %}

                {{ summary_list_item.render(
                    title='Do you consent to the General Register Office contacting you about your application?',
                    changeLinkHiddenText='if you consent to the General Register Office contacting you about your application',
                    changeLinkUrl=url_for('startApplication.declaration'),
                    value=(application_data.confirmation_data.consent_to_GRO_contact_formatted)
                ) }}
            </dl>

            <h2 class="govuk-heading-m">
                Your personal details
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summary_list_item.render(
                    title='Name (as you would like it to appear on your Gender Recognition Certificate)',
                    changeLinkHiddenText='name (as you would like it to appear on your Gender Recognition Certificate)',
                    changeLinkUrl=url_for('personalDetails.index'),
                    value=(application_data.personal_details_data.title + ' ' + application_data.personal_details_data.first_names + ' ' + application_data.personal_details_data.last_name)
                ) }}

                {{ summary_list_item.render(
                    title='Affirmed gender',
                    changeLinkHiddenText='affirmed gender',
                    changeLinkUrl=url_for('personalDetails.affirmedGender'),
                    value=(application_data.personal_details_data.affirmed_gender_formatted)
                ) }}

                {{ summary_list_item.render(
                    title='When you transitioned',
                    changeLinkHiddenText='when you transitioned',
                    changeLinkUrl=url_for('personalDetails.transitionDate'),
                    value=(application_data.personal_details_data.transition_date_formatted_MMMM_YYYY)
                ) }}

                {{ summary_list_item.render(
                    title='When you signed your statutory declaration',
                    changeLinkHiddenText='when you signed your statutory declaration',
                    changeLinkUrl=url_for('personalDetails.statutoryDeclarationDate'),
                    value=(application_data.personal_details_data.statutory_declaration_date_formatted_DD_MMMM_YYYY)
                ) }}

                {{ summary_list_item.render(
                    title='Ever changed name',
                    changeLinkHiddenText='whether you have changed your name to reflect your gender',
                    changeLinkUrl=url_for('personalDetails.previousNamesCheck'),
                    value=(application_data.personal_details_data.changed_name_to_reflect_gender_formatted)
                ) }}

                {% macro addressValue() %}
                    {{ application_data.personal_details_data.address_line_one }}<br>
                    {% if application_data.personal_details_data.address_line_two %}
                        {{ application_data.personal_details_data.address_line_two }}<br>
                    {% endif %}
                    {{ application_data.personal_details_data.address_town_city }}<br>
                    {% if application_data.personal_details_data.address_country %}
                        {{ application_data.personal_details_data.address_country }}<br>
                    {% endif %}
                    {{ application_data.personal_details_data.address_postcode }}
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Address',
                    changeLinkHiddenText='address',
                    changeLinkUrl=url_for('personalDetails.address'),
                    value=(addressValue())
                ) }}

                {% macro contactPreferencesValue() %}
                    <ul class="govuk-list">
                        {% if application_data.personal_details_data.contact_email_address %}
                            <li>
                                Email: {{ application_data.personal_details_data.contact_email_address }}
                            </li>
                        {% endif %}
                        {% if application_data.personal_details_data.contact_phone_number %}
                            <li>
                                Phone: {{ application_data.personal_details_data.contact_phone_number }}
                            </li>
                        {% endif %}
                        {% if application_data.personal_details_data.contact_by_post %}
                            <li>
                                Post: {{ application_data.personal_details_data.address_comma_separated }}
                            </li>
                        {% endif %}
                    </ul>
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Contact preferences',
                    changeLinkHiddenText='contact preferences',
                    changeLinkUrl=url_for('personalDetails.contactPreferences'),
                    value=(contactPreferencesValue())
                ) }}

                {% macro unavailabilityValue() %}
                    {{ application_data.personal_details_data.contact_dates_should_avoid_formatted }}<br>
                    {% if application_data.personal_details_data.contact_dates_should_avoid %}
                        {# Note: The following <span> should all be on one line, to allow the line breaks to work correctly #}
                        <span style="white-space: pre-line;">{{ application_data.personal_details_data.contact_dates_to_avoid }}</span>
                    {% endif %}
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Unavailable over the next 6 months',
                    changeLinkHiddenText="whether there are any dates you don't want us to contact you by post over the next 6 months",
                    changeLinkUrl=url_for('personalDetails.contactDates'),
                    value=(unavailabilityValue())
                ) }}

                {{ summary_list_item.render(
                    title='Notify HMRC',
                    changeLinkHiddenText="whether you want us to notify HMRC after you receive a Gender Recognition Certificate",
                    changeLinkUrl=url_for('personalDetails.hmrc'),
                    value=(application_data.personal_details_data.tell_hmrc_formatted)
                ) }}

                {% if application_data.personal_details_data.tell_hmrc %}
                    {{ summary_list_item.render(
                        title='National insurance number',
                        changeLinkHiddenText="your National Insurance number",
                        changeLinkUrl=url_for('personalDetails.hmrc'),
                        value=(application_data.personal_details_data.national_insurance_number)
                    ) }}
                {% endif %}
            </dl>

            <h2 class="govuk-heading-m">
                Birth registration details
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summary_list_item.render(
                    title='Birth name',
                    changeLinkHiddenText='birth name',
                    changeLinkUrl=url_for('birthRegistration.index'),
                    value=(application_data.birth_registration_data.first_name + ' ' + application_data.birth_registration_data.middle_names + ' ' + application_data.birth_registration_data.last_name)
                ) }}

                {{ summary_list_item.render(
                    title='Date of birth',
                    changeLinkHiddenText='date of birth',
                    changeLinkUrl=url_for('birthRegistration.dob'),
                    value=(application_data.birth_registration_data.date_of_birth_formatted_DD_MMMM_YYYY)
                ) }}

                {{ summary_list_item.render(
                    title='Birth registered in UK',
                    changeLinkHiddenText='whether your birth was regstered in the UK',
                    changeLinkUrl=url_for('birthRegistration.ukCheck'),
                    value=(application_data.birth_registration_data.birth_registered_in_uk_formatted)
                ) }}

                {% if application_data.birth_registration_data.birth_registered_in_uk %}
                    {{ summary_list_item.render(
                        title='Town or city of birth',
                        changeLinkHiddenText='your town or city of birth',
                        changeLinkUrl=url_for('birthRegistration.placeOfBirth'),
                        value=(application_data.birth_registration_data.town_city_of_birth)
                    ) }}

                    {% macro mothersNameValue() %}
                        {{ application_data.birth_registration_data.mothers_first_name }}
                        {{ application_data.birth_registration_data.mothers_last_name }}<br>
                        (Maiden name: {{ application_data.birth_registration_data.mothers_maiden_name }})
                    {% endmacro %}
                    {{ summary_list_item.render(
                        title="Mother's name",
                        changeLinkHiddenText="your mother's name",
                        changeLinkUrl=url_for('birthRegistration.mothersName'),
                        value=mothersNameValue()
                    ) }}

                    {{ summary_list_item.render(
                        title="Father's name listed",
                        changeLinkHiddenText="whether your father's name is listed on your birth or adoption certificate",
                        changeLinkUrl=url_for('birthRegistration.fathersNameCheck'),
                        value=(application_data.birth_registration_data.fathers_name_on_birth_certificate_formatted)
                    ) }}

                    {% if application_data.birth_registration_data.fathers_name_on_birth_certificate %}
                        {{ summary_list_item.render(
                            title="Father's name",
                            changeLinkHiddenText="your father's name",
                            changeLinkUrl=url_for('birthRegistration.fathersName'),
                            value=(application_data.birth_registration_data.fathers_first_name + ' ' + application_data.birth_registration_data.fathers_last_name)
                        ) }}
                    {% endif %}

                    {{ summary_list_item.render(
                        title="Adopted",
                        changeLinkHiddenText="whether you were adopted",
                        changeLinkUrl=url_for('birthRegistration.adopted'),
                        value=(application_data.birth_registration_data.adopted_formatted)
                    ) }}

                    {% if application_data.birth_registration_data.adopted %}
                        {{ summary_list_item.render(
                            title="Adopted in UK",
                            changeLinkHiddenText="whether you were adopted in the UK",
                            changeLinkUrl=url_for('birthRegistration.adoptedUK'),
                            value=(application_data.birth_registration_data.adopted_in_the_uk_formatted)
                        ) }}
                    {% endif %}

                    {{ summary_list_item.render(
                        title="Forces registering service, British Consul or High Commission, or under
                               Merchant Shipping or Civil Aviation provisions",
                        changeLinkHiddenText="whether your birth was registered under the Forces registering service,
                                              British Consul or High Commission, or under Merchant Shipping or Civil Aviation provisions",
                        changeLinkUrl=url_for('birthRegistration.forces'),
                        value=(application_data.birth_registration_data.forces_registration_formatted)
                    ) }}

                {% else %}
                    {{ summary_list_item.render(
                        title="Registered birth country",
                        changeLinkHiddenText="the country you were born in",
                        changeLinkUrl=url_for('birthRegistration.country'),
                        value=(application_data.birth_registration_data.country_of_birth)
                    ) }}
                {% endif %}
            </dl>

            <h2 class="govuk-heading-m">
                Marriage or civil partnership details
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summary_list_item.render(
                    title='Currently married or in a civil partnership',
                    changeLinkHiddenText='if you are currently married or in a civil partnership',
                    changeLinkUrl=url_for('partnershipDetails.index'),
                    value=(application_data.partnership_details_data.currently_in_a_partnership_formatted)
                ) }}

                {% if application_data.partnership_details_data.is_not_in_partnership %}
                    {{ summary_list_item.render(
                        title='Spouse or partner has died',
                        changeLinkHiddenText='if your spouse or partner has died',
                        changeLinkUrl=url_for('partnershipDetails.partnerDied'),
                        value=(application_data.partnership_details_data.previous_partnership_partner_died_formatted)
                    ) }}

                    {{ summary_list_item.render(
                        title='Marriage or civil partnership has ended',
                        changeLinkHiddenText='if your marriage or civil partnership has ended',
                        changeLinkUrl=url_for('partnershipDetails.endedCheck'),
                        value=(application_data.partnership_details_data.previous_partnership_ended_formatted)
                    ) }}

                {% else %}
                    {{ summary_list_item.render(
                        title='Remain ' + inYourPartnershipName,
                        changeLinkHiddenText='if you plan to remain ' + inYourPartnershipName + ' after receiving your Gender Recognition Certificate',
                        changeLinkUrl=url_for('partnershipDetails.stayTogether'),
                        value=(application_data.partnership_details_data.plan_to_remain_in_a_partnership_formatted)
                    ) }}

                    {% if application_data.partnership_details_data.plan_to_remain_in_a_partnership %}
                        {{ summary_list_item.render(
                            title='Can provide a declaration of consent from your ' + partnerName,
                            changeLinkHiddenText='if you can provide a declaration of consent from your ' + partnerName,
                            changeLinkUrl=url_for('partnershipDetails.partnerAgrees'),
                            value=(application_data.partnership_details_data.partner_agrees_formatted)
                        ) }}
                    {% endif %}

                    {% if not application_data.partnership_details_data.plan_to_remain_in_a_partnership or not application_data.partnership_details_data.partner_agrees %}
                        {{ summary_list_item.render(
                            title='Interim GRC',
                            changeLinkHiddenText='if you understand that you will receive an Interim GRC',
                            changeLinkUrl=url_for('partnershipDetails.interimCheck'),
                            value=(application_data.partnership_details_data.confirm_understood_interim_certificate_formatted)
                        ) }}
                    {% endif %}
                {% endif %}
            </dl>


            <h2 class="govuk-heading-m">
                Your uploaded documents
            </h2>

            {% macro uploadedDocumentsList(files, sectionName) %}
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                    {% for file in files %}
                        <li>{{ file.original_file_name }}</li>
                    {% endfor %}
                </ul>
            {% endmacro %}

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {% if application_data.need_medical_reports %}
                    {{ summary_list_item.render(
                        title='Your medical reports',
                        changeLinkHiddenText='the documents you have uploaded for your medical reports',
                        changeLinkUrl=url_for('upload.uploadInfoPage', section_url='medical-reports'),
                        value=(uploadedDocumentsList(application_data.uploads_data.medical_reports, 'medicalReports'))
                    ) }}
                {% endif %}

                {% if application_data.need_evidence_of_living_in_gender %}
                    {{ summary_list_item.render(
                        title='Evidence of living in your gender',
                        changeLinkHiddenText='the documents you have uploaded as evidence of living in your gender',
                        changeLinkUrl=url_for('upload.uploadInfoPage', section_url='gender-evidence'),
                        value=(uploadedDocumentsList(application_data.uploads_data.evidence_of_living_in_gender, 'genderEvidence'))
                    ) }}
                {% endif %}

                {% if application_data.need_name_change_documents %}
                    {{ summary_list_item.render(
                        title='Name change documents',
                        changeLinkHiddenText='the documents you have uploaded as evidence of changing your name',
                        changeLinkUrl=url_for('upload.uploadInfoPage', section_url='name-change'),
                        value=(uploadedDocumentsList(application_data.uploads_data.name_change_documents, 'nameChange'))
                    ) }}
                {% endif %}

                {% if application_data.need_partnership_documents %}
                    {{ summary_list_item.render(
                        title='Marriage documents',
                        changeLinkHiddenText='the documents you have uploaded as evidence of your marriage or civil partnership',
                        changeLinkUrl=url_for('upload.uploadInfoPage', section_url='marriage-documents'),
                        value=(uploadedDocumentsList(application_data.uploads_data.partnership_documents, 'marriageDocuments'))
                    ) }}
                {% endif %}

                {% if application_data.need_overseas_documents %}
                    {{ summary_list_item.render(
                        title='Overseas certificate documents',
                        changeLinkHiddenText='the documents you have uploaded as evidence of your overseas certificate',
                        changeLinkUrl=url_for('upload.uploadInfoPage', section_url='overseas-certificate'),
                        value=(uploadedDocumentsList(application_data.uploads_data.overseas_documents, 'overseasCertificate'))
                    ) }}
                {% endif %}

                {{ summary_list_item.render(
                    title='Statutory declarations',
                    changeLinkHiddenText='the statutory declarations documents you have uploaded',
                    changeLinkUrl=url_for('upload.uploadInfoPage', section_url='statutory-declarations'),
                    value=(uploadedDocumentsList(application_data.uploads_data.statutory_declarations, 'statutoryDeclarations'))
                ) }}
            </dl>

            <h2 class="govuk-heading-m">
                Payment details
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summary_list_item.render(
                    title='Payment method',
                    changeLinkHiddenText='payment method',
                    changeLinkUrl=url_for('submitAndPay.index'),
                    value=(application_data.submit_and_pay_data.applying_for_help_with_fee_formatted)
                ) }}

                {% if application_data.submit_and_pay_data.applying_for_help_with_fee %}
                    {{ summary_list_item.render(
                        title='Help type',
                        changeLinkHiddenText='the way your are applying for help with paying the fees',
                        changeLinkUrl=url_for('submitAndPay.helpType'),
                        value=(application_data.submit_and_pay_data.how_applying_for_help_with_fees_formatted)
                    ) }}

                    {% if application_data.submit_and_pay_data.is_using_online_service %}
                        {{ summary_list_item.render(
                            title='Help with Fees reference number',
                            changeLinkHiddenText='your Help with Fees reference number',
                            changeLinkUrl=url_for('submitAndPay.helpType'),
                            value=(application_data.submit_and_pay_data.help_with_fees_reference_number)
                        ) }}
                    {% endif %}
                {% endif %}
            </dl>


            <h2 class="govuk-heading-m">
                Documents you'll need to post
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">
                Based on your application the documents that will need to be posted are:
            </p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li>
                    your original or a
                    <a href="https://www.gov.uk/certifying-a-document" rel="external" target="_blank" class="govuk-link">
                        certified copy (opens in new tab)
                    </a>
                    of your full birth or adoption certificate
                </li>

                {% if application_data.submit_and_pay_data.is_using_ex160_form %}
                    <li>
                        an
                        <a href="https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees"
                           rel="external" target="_blank" class="govuk-link">
                            EX160 form (opens in new tab)
                        </a>
                    </li>
                {% endif %}
            </ul>

            <h2 class="govuk-heading-m">
                Download your application
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-9">
                If you want to keep a record of the details you are submitting, you can
                <a href="{{ url_for('submitAndPay.download') }}" target="_blank" class="govuk-link">download a pdf copy</a>.
            </p>

            <h2 class="govuk-heading-m">
                Now send your application
            </h2>

            <form method="POST" action="{{ url_for('submitAndPay.checkYourAnswers') }}">
                {{ form.csrf_token }}

                <div class="checkboxes-long-text">
                    {{ checkbox_single.renderFor(
                        form,
                        fieldName='certify',
                        label='I certify that all information given in this application is correct
                                  and that I understand making a false application is an offence.',
                        checkboxOptions={
                            'questionClasses': 'govuk-fieldset__legend--m'
                        }
                    ) }}
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        {% if application_data.submit_and_pay_data.applying_for_help_with_fee %}
                            Submit application
                        {% else %}
                            Submit application and pay online
                        {% endif %}
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
