{% extends 'base.html' %}

{% block title %}Application submitted{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Application submitted
                </h1>
                <div class="govuk-panel__body">
                    You should post all remaining documents to us as soon as possible
                </div>
            </div>

            <p class="govuk-body">
                We have sent you a confirmation email.
            </p>

            <h2 class="govuk-heading-m">
                What you need to do next
            </h2>
            <p class="govuk-body">
                Post the rest of your documents to us as soon as possible – include your name and address so we can match them to your application.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                You need to post:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    your original or a
                    <a href="https://www.gov.uk/certifying-a-document" rel="external" target="_blank" class="govuk-link">
                        certified copy (opens in new tab){# No line break here to ensure the <a> doesn't include a trailing space #}</a>
                    of your full birth or adoption certificate (this will be posted back to you)
                </li>

                {% if session['application']['submitAndPay']['helpType'] == 'Using the EX160 form' %}
                    <li>
                        an
                        <a href="https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees"
                           rel="external" target="_blank" class="govuk-link">
                            EX160 form (opens in new tab)
                        </a>
                    </li>
                {% endif %}
            </ul>

            <p class="govuk-body govuk-!-margin-bottom-2">
                Send to:
            </p>
            <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-2">
                Gender Recognition Panel<br>
                PO Box 9300<br>
                Leicester<br>
                LE1 8DJ
            </div>
            <p class="govuk-inset-text">
                If sending documents by courier, please contact us first (details below).
            </p>

            <p class="govuk-body">
                You can
                <a href="https://www.gov.uk/order-copy-birth-death-marriage-certificate" rel="external" class="govuk-link">
                    order a birth, death, marriage or civil partnership certificate
                </a>
                online if you live in England and Wales.
                There's a different process for
                <a href="http://www.nrscotland.gov.uk/registration/how-to-order-an-official-extract-from-the-registers"
                   rel="external" class="govuk-link">
                    getting certificates in Scotland
                </a>
                and
                <a href="http://www.nidirect.gov.uk/index/do-it-online/government-citizens-and-rights-online/order-a-birth-adoption-death-marriage-or-civil-partnership-certificate.htm"
                   rel="external" class="govuk-link">
                    Northern Ireland</a>.
            </p>
            <p class="govuk-body">
                Once you’ve sent your documents, your application will be reviewed by the Gender Recognition Panel.
                This usually happens within 22 weeks of you applying.
            </p>
            <p class="govuk-body">
                We will let you know if your application has any errors or missing documents, or if the Panel needs any
                more information. We will ensure you have the time you need to provide any missing or additional information.
            </p>
            <p class="govuk-body">
                You will then be told if you will be issued with a Gender Recognition Certificate,
                and what you can do if your application has not been accepted.
            </p>

            <h2 class="govuk-heading-m">
                If you need to contact us
            </h2>
            <p class="govuk-body">
                Include your application reference number – we will send this to you by post when we have received your application.
            </p>
            <p class="govuk-body">
                If you need to contact us before you have received your application reference number, include your full name and postcode.
            </p>
            <p class="govuk-body">
                <a href="mailto:GRPenquiries@justice.gov.uk" class="govuk-link">
                    GRPenquiries@justice.gov.uk
                </a><br>
                Telephone: 020 3936 8968<br>
                Monday to Friday, 9am to 5pm<br>
                <a href=https://www.gov.uk/call-charges" class="govuk-link">
                    Find out about call charges
                </a>
            </p>

        </div>
    </div>
{% endblock %}
