{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block title %}Payment{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Payment
            </h1>

            <p class="govuk-body">
                Applying for a Gender Recognition Certificate costs £5.
            </p>
            <p class="govuk-body">
                You can
                <a href="https://www.gov.uk/get-help-with-court-fees"
                   rel="external" target="_blank" class="govuk-link">
                    apply online for help paying this fee (opens in new tab)</a>.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-8">
                You can also download the EX160 form from that page and submit it with your application.
            </p>

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='applying_for_help_with_fee',
                    question="Are you applying for help paying the fee?",
                    radiosOptions={
                        'questionClasses': 'govuk-fieldset__legend--m',
                        'hintOptions':{
                            'htmlOrText': 'If you select yes, your application for a Gender Recognition Certificate
                                           will only be reviewed if your application for help paying the fee is accepted.'
                        }
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
