{% extends 'base.html' %}
{% block backLink %}<a href="{{ url_for('taskList.index') }}" class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 id="error-summary-title" class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
            {% for e in form[error].errors %}
            <li><a href="#{{ error }}-issued-error">{{ e }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      Payment
    </h1>

    <p class="govuk-body">Applying for a Gender Recognition Certificate costs &pound;5.</p>
    <p class="govuk-body">
      You can <a href="https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees" rel="external" target="_blank" class="govuk-link">apply online for help paying this fee (opens in new tab)</a>.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-8">
      You can also download the EX160 form from that page and submit it with your application.
    </p>

    <form method="POST" action="{{ url_for('submitAndPay.index') }}">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.check.errors }}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Are you applying for help paying the fee
            </h1>
          </legend>
          <div id="check-hint" class="govuk-hint">
            If you select yes, your application for a Gender Recognition Certificate will only be reviewed if your
            application for help paying the fee is accepted.
          </div>
          {% if form.check.errors %}
          <p id="check-issued-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you are applying for help paying the fee
          </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input id="check" type="radio" name="check" value="Help" class="govuk-radios__input" {{ 'checked' if session['application']['submitAndPay']['method'] == 'Help' }}>
              <label for="check" class="govuk-label govuk-radios__label">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input id="check-2" type="radio" name="check" value="Online" class="govuk-radios__input" {{ 'checked' if session['application']['submitAndPay']['method'] == 'Online' }}>
              <label for="check-2" class="govuk-label govuk-radios__label">
                No, I will pay now
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
