{% if application_data.birth_registration_data.birth_registered_in_uk %}
    {% if application_data.birth_registration_data.adopted %}
* your original or a certified copy (https://www.gov.uk/certifying-a-document) of your full adoption certificate
    {% else %}
* your original or a certified copy (https://www.gov.uk/certifying-a-document) of your full birth certificate
    {% endif %}
{% else %}
* an official confirmation of date of birth and birth gender
{% endif %}

{% if application_data.submit_and_pay_data.is_using_ex160_form %}
* an EX160 form (https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees)
{% endif %}
