{% extends 'base.html' %}
{% import "helper-macros/random-id.html" as random_id %}

{% block title %}Your application{% endblock %}

{% macro taskListItem(text, url, status, suffix, id=None) %}
    {% set id = id or 'id-' + random_id.randomId(10) %}

    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            {% if status == ListStatus.CANNOT_START_YET %}
                {{ text }}
            {% else %}
                <a href="{{ url }}" class="govuk-link" aria-describedby="{{ id }}">
                    {{ text }}
                </a>
            {% endif %}
        </span>
        <strong id="{{ id }}" class="govuk-tag app-task-list__tag {{ get_colour(status) }}">
            {{ status.value }}
        </strong>
        {{ suffix }}
    </li>
{% endmacro %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Your application
            </h1>

        </div>
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">
                This is where you can provide your personal details and upload your documents.
            </p>
            <p class="govuk-body">
                Your application is saved automatically as you progress.
                You can
                <a href="{{ url_for('saveAndReturn.exitApplication') }}" class="govuk-link govuk-link--no-visited-state">
                    save and exit
                </a>
                at any time and return to your application later.
            </p>

            <div class="govuk-inset-text govuk-!-margin-bottom-8">
                <p class="govuk-body">
                    You can upload most documents online, but you will need to post us your birth or adoption certificate.
                </p>

                <p class="govuk-body">
                    What you need to upload depends on the information you provide during your application.
                </p>
            </div>

            <ol class="app-task-list app-task-list--no-numbers">
                <li>
                    <h2 class="app-task-list__section">
                    Before you start
                    </h2>

                    <ul class="app-task-list__items">
                        {{ taskListItem(
                            "Confirmation",
                            url_for('startApplication.overseas_check'),
                            application_data.confirmation_data.section_status)
                        }}
                    </ul>
                </li>

                <!-- Fill in your details -->
                <li>
                    <h2 class="app-task-list__section">
                        Fill in your details
                    </h2>

                    <ul class="app-task-list__items">
                        {{ taskListItem(
                            "Your personal details",
                            (url_for('personalDetails.checkYourAnswers')
                             if application_data.personal_details_data.section_status == ListStatus.COMPLETED
                             else url_for('personalDetails.index')),
                            application_data.personal_details_data.section_status)
                        }}

                        {{ taskListItem(
                            "Your birth registration information",
                            (url_for('birthRegistration.checkYourAnswers')
                             if application_data.birth_registration_data.section_status == ListStatus.COMPLETED
                             else url_for('birthRegistration.index')),
                            application_data.birth_registration_data.section_status)
                        }}

                        {{ taskListItem(
                            "Marriage or civil partnership details",
                            (url_for('partnershipDetails.checkYourAnswers')
                             if application_data.partnership_details_data.section_status == ListStatus.COMPLETED
                             else url_for('partnershipDetails.index')),
                            application_data.partnership_details_data.section_status)
                        }}
                    </ul>
                </li>
                <!-- /.Fill in your details -->

                <!-- Upload your documents -->
                <li>
                    <h2 class="app-task-list__section">
                        Upload your documents
                    </h2>

                    <ul class="app-task-list__items">
                        {% if application_data.need_medical_reports %}
                            {{ taskListItem(
                                "Your medical reports",
                                url_for('upload.uploadInfoPage', section_url='medical-reports'),
                                application_data.section_status_medical_reports)
                            }}
                        {% endif %}

                        {% if application_data.need_evidence_of_living_in_gender %}
                            {{ taskListItem(
                                "Evidence of living in your gender",
                                url_for('upload.uploadInfoPage', section_url='gender-evidence'),
                                application_data.section_status_evidence_of_living_in_gender)
                            }}
                        {% endif %}

                        {% if application_data.need_name_change_documents %}
                            {{ taskListItem(
                                "Name change documents",
                                url_for('upload.uploadInfoPage', section_url='name-change'),
                                application_data.section_status_name_change_documents)
                            }}
                        {% endif %}

                        {% if application_data.need_partnership_documents %}
                            {{ taskListItem(
                                "Marriage and civil partnership documents",
                                url_for('upload.uploadInfoPage', section_url='marriage-documents'),
                                application_data.section_status_partnership_documents)
                            }}
                        {% endif %}

                        {% if application_data.need_overseas_documents %}
                            {{ taskListItem(
                                "Overseas certificate documents",
                                url_for('upload.uploadInfoPage', section_url='overseas-certificate'),
                                application_data.section_status_overseas_documents)
                            }}
                        {% endif %}

                        {{ taskListItem(
                            "Statutory declarations",
                            url_for('upload.uploadInfoPage', section_url='statutory-declarations'),
                            application_data.section_status_statutory_declarations)
                        }}
                    </ul>
                </li>
                <!-- /.Upload your documents -->

                <!-- Apply -->
                <li>
                    <h2 class="app-task-list__section">
                        Apply
                    </h2>

                    <ul class="app-task-list__items">
                        {% macro submitAndPaySuffix() %}
                            <span class="govuk-hint govuk-!-margin-top-3 govuk-!-margin-bottom-0"><br>
                                Once you have completed the other sections you can submit your application.
                            </span>
                        {% endmacro %}
                        {{ taskListItem(
                            "Submit and pay",
                            url_for('submitAndPay.index'),
                            application_data.section_status_submit_and_pay_data,
                            submitAndPaySuffix())
                        }}
                    </ul>
                </li>
                <!-- /.Apply -->
            </ol>

        </div>
        <div class="govuk-grid-column-one-third">

            <div class="gem-c-contextual-sidebar">
                <div class="gem-c-related-navigation">
                    <h2 id="related-nav-related_items-298b5325" class="gem-c-related-navigation__main-heading">
                        Returning to your application
                    </h2>
                    <p class="govuk-body-s">
                        Your application is saved automatically as you progress.
                    </p>
                    <p class="govuk-body-s">
                        <a href="{{ url_for('saveAndReturn.exitApplication') }}" class="govuk-link govuk-link--no-visited-state">
                            Exit and return later
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
