{% from 'applications/application.html' import adminapplication %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
    <head>
        <meta charset="utf-8">
        <title>GOV.UK - Gender Recognition Certificate Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#0b0c0c">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{{url_for('static', filename='app.css')}}" rel="stylesheet">
    </head>

    <body class="govuk-template__body">
        {{ adminapplication(application_data) }}
    </body>
</html>