{% extends 'base.html' %}
{% import "govuk-design-system-templates/_summary-list-item.html" as summary_list_item %}

{% block title %}Check your answers: Marriage or civil partnership details{% endblock %}

{%  set partnerName = 'civil partner'
    if session['application']['partnershipDetails']['marriageCivilPartnership'] == 'Civil partnership'
    else 'spouse' %}
{%  set inYourPartnershipName = 'in your civil partnership'
    if session['application']['partnershipDetails']['marriageCivilPartnership'] == 'Civil partnership'
    else 'married' %}

{% block backLink %}
    {% set backLink = (
        url_for('partnershipDetails.endedCheck')
        if session['application']['partnershipDetails']['marriageCivilPartnership'] == 'Neither'
        else (
            url_for('partnershipDetails.interimCheck')
            if session['application']['partnershipDetails']['stayTogether'] == 'No'
            else (
                url_for('partnershipDetails.partnerAgrees')
                if session['application']['partnershipDetails']['partnerAgrees'] == 'Yes'
                else url_for('partnershipDetails.interimCheck')
            )
        )
    ) %}
    <a href="{{ backLink }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Check your answers:</span>
                Marriage or civil partnership details
            </h1>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summary_list_item.render(
                    title='Currently married or in a civil partnership',
                    changeLinkHiddenText='if you are currently married or in a civil partnership',
                    changeLinkUrl=url_for('partnershipDetails.index'),
                    value=(session['application']['partnershipDetails']['marriageCivilPartnership'])
                ) }}

                {% if session['application']['partnershipDetails']['marriageCivilPartnership'] == 'Neither' %}
                    {{ summary_list_item.render(
                        title='Spouse or partner has died',
                        changeLinkHiddenText='if your spouse or partner has died',
                        changeLinkUrl=url_for('partnershipDetails.partnerDied'),
                        value=(session['application']['partnershipDetails']['partnerDied'])
                    ) }}

                    {{ summary_list_item.render(
                        title='Marriage or civil partnership has ended',
                        changeLinkHiddenText='if your marriage or civil partnership has ended',
                        changeLinkUrl=url_for('partnershipDetails.endedCheck'),
                        value=(session['application']['partnershipDetails']['endedCheck'])
                    ) }}

                {% else %}
                    {{ summary_list_item.render(
                        title='Remain ' + inYourPartnershipName,
                        changeLinkHiddenText='if you plan to remain ' + inYourPartnershipName + ' after receiving your Gender Recognition Certificate',
                        changeLinkUrl=url_for('partnershipDetails.stayTogether'),
                        value=(session['application']['partnershipDetails']['stayTogether'])
                    ) }}

                    {% if session['application']['partnershipDetails']['stayTogether'] == 'Yes' %}
                        {{ summary_list_item.render(
                            title='Can provide a declaration of consent from your ' + partnerName,
                            changeLinkHiddenText='if you can provide a declaration of consent from your ' + partnerName,
                            changeLinkUrl=url_for('partnershipDetails.partnerAgrees'),
                            value=(session['application']['partnershipDetails']['partnerAgrees'])
                        ) }}
                    {% endif %}

                    {% if session['application']['partnershipDetails']['stayTogether'] == 'No' or session['application']['partnershipDetails']['partnerAgrees'] == 'No' %}
                        {{ summary_list_item.render(
                            title='Interim GRC',
                            changeLinkHiddenText='if you understand that you will receive an Interim GRC',
                            changeLinkUrl=url_for('partnershipDetails.interimCheck'),
                            value=(session['application']['partnershipDetails']['interimCheck'])
                        ) }}
                    {% endif %}
                {% endif %}
            </dl>

            <form method="POST" action="{{ url_for('partnershipDetails.checkYourAnswers') }}">
                {{ form.csrf_token }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
