{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block title %}Are you currently married or in a civil partnership?{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Marriages and civil partnerships
            </h1>

            <p class="govuk-body govuk-!-margin-bottom-8">
                If you’ve ever been married or in a civil partnership, you need to upload a scan or good
                quality photograph of your marriage or civil partnership certificates.
            </p>

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='currently_married',
                    question="Are you currently married or in a civil partnership?",
                    radiosOptions={
                        'questionClasses': 'govuk-fieldset__legend--m',
                        'hintOptions':{
                            'htmlOrText': 'If you are in the process of ending, or you plan to end your marriage or civil partnership, you should select your current, legal status'
                        },
                        'dividerOptions': [
                            ('Neither', 'or')
                        ]
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
