{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block title %}Have you ever been married or in a civil partnership that ended?{% endblock %}

{% block backLink %}
    <a href="{{ url_for('partnershipDetails.partnerDied') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="{{ url_for('partnershipDetails.endedCheck') }}">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='previous_partnership_ended',
                    question="Have you ever been married or in a civil partnership that ended?",
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'hintOptions': {
                            'htmlOrText': 'If yes, you will need to provide a copy of your decree(s) dissolving the marriage or civil partnership'
                        }
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
