{% extends 'base.html' %}

{% block title %}Interim Gender Recognition Certificate{% endblock %}

{% block backLink %}
    <a href="{{ url_for(back) }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <div class="interuption-card">
                <h1 class="govuk-heading-l">
                    Interim Gender Recognition Certificate
                </h1>

                {%  set partnerName = 'civil partner'
                    if session['application']['partnershipDetails']['marriageCivilPartnership'] == 'Civil partnership'
                    else 'spouse' %}
                {%  set partnershipName = 'civil partnership'
                    if session['application']['partnershipDetails']['marriageCivilPartnership'] == 'Civil partnership'
                    else 'marriage' %}
                {%  set inPartnershipName = 'in a civil partnership'
                    if session['application']['partnershipDetails']['marriageCivilPartnership'] == 'Civil partnership'
                    else 'married' %}

                <p class="govuk-body">
                    When you apply for a certificate, your {{ partnerName }} needs to
                    sign a document if you want to stay {{ inPartnershipName }}.
                </p>
                <p class="govuk-body">
                    If they do not sign the document, or you’re ending the {{ partnershipName }},
                    you will get an ‘interim’ certificate if you continue with your application.
                </p>
                <p class="govuk-body">
                    You can only use the interim certificate to end your {{ partnershipName }}.
                </p>
                <p class="govuk-body">
                    You have 6 months to apply for an annulment, divorce or dissolution
                    from when you get your interim certificate.
                </p>
                <p class="govuk-body govuk-!-margin-bottom-8">
                    You will get a full certificate once you’re no longer {{ inPartnershipName }}.
                </p>

                <form method="POST" action="{{ url_for('partnershipDetails.interimCheck') }}">
                    {{ form.csrf_token }}

                    <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
