{% extends 'base.html' %}


{% block backLink %}<a href="{{url_for('partnershipDetails.stayTogether')}}"
   class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if form.errors %}
    <div class="govuk-error-summary"
         aria-labelledby="error-summary-title"
         role="alert"
         tabindex="-1"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title"
          id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
          {% for e in form[error].errors %}
          <li><a href="#{{error}}-issued-error">{{ e }}</a></li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      Declaration of consent
    </h1>

    {% if session["application"]["partnershipDetails"]["marriageCivilPartnership"] == 'Civil partnership' %}
    <p class="govuk-body">If you plan to stay in your civil partnership, your civil partner will need to sign a <a
         class="govuk-link"
         href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/852943/t466-eng.pdf"
         rel="noreferrer noopener"
         target="_blank">statutory declaration consenting to the civil partnership continuing (opens in new tab)</a>
      after you receive a Gender Recognition Certificate.</p>

    {% set questionText %}Can you provide a declaration of consent from your civil partner?{% endset %}
    {% else %}
    <p class="govuk-body">If you plan to stay married your spouse will need to sign a <a class="govuk-link"
         href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/852943/t466-eng.pdf"
         rel="noreferrer noopener"
         target="_blank">statutory declaration consenting to the marriage continuing (opens in new tab)</a> after you
      receive a Gender Recognition Certificate.</p>

    {% set questionText %}Can you provide a declaration of consent from your spouse?{% endset %}
    {% endif %}

    <p class="govuk-body govuk-!-margin-bottom-8">This will need to be witnessed by someone that can administer oaths.
      All solicitors can do this.</p>


    <form method="POST"
          action="{{url_for('partnershipDetails.partnerAgrees')}}">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.check.errors }}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              {{questionText}}
            </h1>
          </legend>
          {% if form.check.errors %}
          <p id="check-issued-error"
             class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you can provide a declaration of consent from
            your spouse
          </p>
          {% endif %}
          <div class="govuk-radios"
               data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="where-do-you-live"
                     name="check"
                     type="radio"
                     value="Yes"
                     {{ 'checked'
                     if
                     session['application']['partnershipDetails']['partnerAgrees']=="Yes"
                     }}>
              <label class="govuk-label govuk-radios__label"
                     for="check">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="check-2"
                     name="check"
                     type="radio"
                     value="No"
                     {{ 'checked'
                     if
                     session['application']['partnershipDetails']['partnerAgrees']=="No"
                     }}>
              <label class="govuk-label govuk-radios__label"
                     for="check-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button"
                data-module="govuk-button">
          Save and continue
        </button>
        <a href="{{url_for('taskList.index')}}"
           class="govuk-link govuk-link--no-visited-state">Return to task list</a>
      </div>
    </form>


  </div>
</div>
{% endblock %}
