{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block title %}Declaration of consent{% endblock %}

{% block backLink %}
    <a href="{{ url_for('partnershipDetails.stayTogether') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Declaration of consent
            </h1>

            {%  set partnerName = 'civil partner'
                if application_data.partnership_details_data.is_in_civil_partnership
                else 'spouse' %}
            {%  set partnerNamePlural = 'civil partners'
                if application_data.partnership_details_data.is_in_civil_partnership
                else 'spouses' %}
            {%  set inPartnershipName = 'in a civil partnership'
                if application_data.partnership_details_data.is_in_civil_partnership
                else 'married' %}

            <p class="govuk-body">
                If you intend to remain {{ inPartnershipName }}, your {{ partnerName }} needs to fill in a
                <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-statutory-declarations-for-applicants"
                    rel="noreferrer noopener" target="_blank" class="govuk-link">
                    statutory declaration for {{ partnerNamePlural }} (opens in new tab)</a>,
                and sign it in front of someone authorised to administer oaths.
            </p>

            <form method="POST" action="{{ url_for('partnershipDetails.partnerAgrees') }}">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='partner_agrees',
                    question="Can you provide a statutory declaration from your " + partnerName + "?",
                    radiosOptions={
                        'questionClasses': 'govuk-fieldset__legend--m'
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
