{% extends 'base.html' %}


{% block backLink %}<a href="{{url_for('partnershipDetails.index')}}"
   class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if form.errors %}
    <div class="govuk-error-summary"
         aria-labelledby="error-summary-title"
         role="alert"
         tabindex="-1"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title"
          id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
          {% for e in form[error].errors %}
          <li><a href="#{{error}}-issued-error">{{ e }}</a></li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <form method="POST"
          action="{{url_for('partnershipDetails.partnerDied')}}">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.check.errors }}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Were you previously married or in a civil partnership, but your spouse or partner has died?
            </h1>
          </legend>
          <div id="check-hint"
               class="govuk-hint">
            If you select yes you will need to provide us with a copy of their death certificate
          </div>
          {% if form.check.errors %}
          <p id="check-issued-error"
             class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you were previously married or in a civil partnership, but your spouse or partner has died
          </p>
          {% endif %}
          <div class="govuk-radios"
               data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="where-do-you-live"
                     name="check"
                     type="radio"
                     value="Yes"
                     {{ 'checked'
                     if
                     session['application']['partnershipDetails']['partnerDied']=="Yes"
                     }}>
              <label class="govuk-label govuk-radios__label"
                     for="check">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="check-2"
                     name="check"
                     type="radio"
                     value="No"
                     {{ 'checked'
                     if
                     session['application']['partnershipDetails']['partnerDied']=="No"
                     }}>
              <label class="govuk-label govuk-radios__label"
                     for="check-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button"
                data-module="govuk-button">
          Save and continue
        </button>
        <a href="{{url_for('taskList.index')}}"
           class="govuk-link govuk-link--no-visited-state">Return to task list</a>
      </div>
    </form>


  </div>
</div>
{% endblock %}
