{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block title %}Were you previously married or in a civil partnership, and your spouse or partner died?{% endblock %}

{% block backLink %}
    <a href="{{ url_for('partnershipDetails.index') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='partner_died',
                    question="Were you previously married or in a civil partnership, and your spouse or partner died?",
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'hintOptions': {
                            'htmlOrText': 'If yes, you will need to provide a copy of their death certificate'
                        }
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
