{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}

{% block title %}Do you plan to remain married after receiving your Gender Recognition Certificate?{% endblock %}

{% block backLink %}
    <a href="{{ url_for('partnershipDetails.index') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="{{ url_for('partnershipDetails.stayTogether') }}">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='stay_together',
                    question="Do you plan to remain married after receiving your Gender Recognition Certificate?",
                    radiosOptions={
                        'questionIsPageHeading': true
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
