{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/hint.html" as hint %}

{% set inYourPartnershipName = 'married'
       if application_data.partnership_details_data.is_married
       else 'in your civil partnership' %}
{% block title %}Do you plan to remain {{ inYourPartnershipName }} after you receive your Gender Recognition Certificate?{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            {% set conditonal_options = (
                [
                    (True,
                    hint.render({
                        'htmlOrText': 'If you are in a same-sex civil partnership and want to <a href="https://www.gov.uk/convert-civil-partnership" target="_blank" class="govuk-link">convert your civil partnership to a marriage (opens in a new tab)</a>, you must do that before you apply for a Gender Recognition Certificate.'
                    })
                    )
                ]
                if application_data.partnership_details_data.is_in_civil_partnership
                else []
            ) %}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='stay_together',
                    question="Do you plan to remain " + inYourPartnershipName + " after you receive your Gender Recognition Certificate?",
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'conditionalOptions': conditonal_options
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
