{% extends 'base.html' %}

{% block backLink %}
    <a href="{{ url_for('personalDetails.hmrc') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% macro summaryListItem(title, changeLinkHiddenText, changeLinkUrl, value) %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ title }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ value }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a href="{{ changeLinkUrl }}" class="govuk-link">
                Change
                <span class="govuk-visually-hidden">
                    {{ changeLinkHiddenText }}
                </span>
            </a>
        </dd>
    </div>
{% endmacro %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Check your answers:</span>
                Your personal details
            </h1>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summaryListItem(
                    title='Name',
                    changeLinkHiddenText='name',
                    changeLinkUrl=url_for('personalDetails.index'),
                    value=(session['application']['personalDetails']['first_name'] + ' ' + session['application']['personalDetails']['last_name'])
                ) }}

                {{ summaryListItem(
                    title='Affirmed gender',
                    changeLinkHiddenText='affirmed gender',
                    changeLinkUrl=url_for('personalDetails.affirmedGender'),
                    value=('Male' if session['application']['personalDetails']['affirmed_gender'] == 'MALE' else 'Female')
                ) }}

                {{ summaryListItem(
                    title='Have you ever changed your name to reflect your gender?',
                    changeLinkHiddenText='whether you have changed your name to reflect your gender',
                    changeLinkUrl=url_for('personalDetails.previousNamesCheck'),
                    value=(session['application']['personalDetails']['previousNamesCheck'])
                ) }}

                {% macro addressValue() %}
                    {{ session['application']['personalDetails']['address']['address_line_one'] }}<br>
                    {{ session['application']['personalDetails']['address']['address_line_two'] }}<br>
                    {{ session['application']['personalDetails']['address']['town'] }}<br>
                    {{ session['application']['personalDetails']['address']['postcode'] }}
                {% endmacro %}
                {{ summaryListItem(
                    title='Address',
                    changeLinkHiddenText='address',
                    changeLinkUrl=url_for('personalDetails.address'),
                    value=(addressValue())
                ) }}

                {% macro contactPreferencesValue() %}
                    <ul class="govuk-list">
                        {% if session['application']['personalDetails']['contactPreferences']['email'] != '' %}
                            <li>
                                Email: {{ session['application']['personalDetails']['contactPreferences']['email'] }}
                            </li>
                        {% endif %}
                        {% if session['application']['personalDetails']['contactPreferences']['phone'] != '' %}
                            <li>
                                Phone: {{ session['application']['personalDetails']['contactPreferences']['phone'] }}
                            </li>
                        {% endif %}
                        {% if session['application']['personalDetails']['contactPreferences']['post'] != '' %}
                            <li>
                                Post: {{ session['application']['personalDetails']['contactPreferences']['post'] }}
                            </li>
                        {% endif %}
                    </ul>
                {% endmacro %}
                {{ summaryListItem(
                    title='Contact preferences',
                    changeLinkHiddenText='contact preferences',
                    changeLinkUrl=url_for('personalDetails.contactPreferences'),
                    value=(contactPreferencesValue())
                ) }}

                {% macro unavailabilityValue() %}
                    {{ session['application']['personalDetails']['contactDates']['answer'] }}<br>
                    {% if session['application']['personalDetails']['contactDates']['answer'] == 'Yes' %}
                        {# Note: The following <span> should all be on one line, to allow the line breaks to work correctly #}
                        <span style="white-space: pre-line;">{{ session['application']['personalDetails']['contactDates']['dates'] }}</span>
                    {% endif %}
                {% endmacro %}
                {{ summaryListItem(
                    title='Unavailable over the next 6 months',
                    changeLinkHiddenText="whether there are any dates you don't want us to contact you by post over the next 6 months",
                    changeLinkUrl=url_for('personalDetails.contactDates'),
                    value=(unavailabilityValue())
                ) }}

                {% macro notifyHmrcValue() %}
                    {{ session['application']['personalDetails']['hmrc']['answer'] }}<br>
                    {% if session['application']['personalDetails']['hmrc']['answer'] == 'Yes' %}
                        {{ session['application']['personalDetails']['hmrc']['national_insurance_number'] }}
                    {% endif %}
                {% endmacro %}
                {{ summaryListItem(
                    title='Notify HMRC',
                    changeLinkHiddenText="whether you want us to notify HMRC after you receive a Gender Recognition Certificate",
                    changeLinkUrl=url_for('personalDetails.hmrc'),
                    value=(notifyHmrcValue())
                ) }}
            </dl>

            <form method="POST" action="{{ url_for('personalDetails.checkYourAnswers') }}">
                {{ form.csrf_token }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
