{% extends 'base.html' %}
{% import "govuk-design-system-templates/_summary-list-item.html" as summary_list_item %}

{% block title %}Check your answers: Your personal details{% endblock %}

{% block backLink %}
    <a href="{{ url_for('personalDetails.hmrc') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Check your answers:</span>
                Your personal details
            </h1>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summary_list_item.render(
                    title='Name',
                    changeLinkHiddenText='name',
                    changeLinkUrl=url_for('personalDetails.index'),
                    value=(application_data.personal_details_data.title + ' ' + application_data.personal_details_data.first_names + ' ' + application_data.personal_details_data.last_name)
                ) }}

                {{ summary_list_item.render(
                    title='Affirmed gender',
                    changeLinkHiddenText='affirmed gender',
                    changeLinkUrl=url_for('personalDetails.affirmedGender'),
                    value=(application_data.personal_details_data.affirmed_gender_formatted)
                ) }}

                {{ summary_list_item.render(
                    title='When you transitioned',
                    changeLinkHiddenText='when you transitioned',
                    changeLinkUrl=url_for('personalDetails.transitionDate'),
                    value=(application_data.personal_details_data.transition_date_formatted_MMMM_YYYY)
                ) }}

                {{ summary_list_item.render(
                    title='When you signed your statutory declaration',
                    changeLinkHiddenText='when you signed your statutory declaration',
                    changeLinkUrl=url_for('personalDetails.statutoryDeclarationDate'),
                    value=(application_data.personal_details_data.statutory_declaration_date_formatted_DD_MMMM_YYYY)
                ) }}

                {{ summary_list_item.render(
                    title='Ever changed name',
                    changeLinkHiddenText='whether you have changed your name to reflect your gender',
                    changeLinkUrl=url_for('personalDetails.previousNamesCheck'),
                    value=(application_data.personal_details_data.changed_name_to_reflect_gender_formatted)
                ) }}

                {% macro addressValue() %}
                    {{ application_data.personal_details_data.address_line_one }}<br>
                    {% if application_data.personal_details_data.address_line_two %}
                        {{ application_data.personal_details_data.address_line_two }}<br>
                    {% endif %}
                    {{ application_data.personal_details_data.address_town_city }}<br>
                    {{ application_data.personal_details_data.address_postcode }}
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Address',
                    changeLinkHiddenText='address',
                    changeLinkUrl=url_for('personalDetails.address'),
                    value=(addressValue())
                ) }}

                {% macro contactPreferencesValue() %}
                    <ul class="govuk-list">
                        {% if application_data.personal_details_data.contact_email_address %}
                            <li>
                                Email: {{ application_data.personal_details_data.contact_email_address }}
                            </li>
                        {% endif %}
                        {% if application_data.personal_details_data.contact_phone_number %}
                            <li>
                                Phone: {{ application_data.personal_details_data.contact_phone_number }}
                            </li>
                        {% endif %}
                        {% if application_data.personal_details_data.contact_by_post %}
                            <li>
                                Post: {{ application_data.personal_details_data.address_comma_separated }}
                            </li>
                        {% endif %}
                    </ul>
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Contact preferences',
                    changeLinkHiddenText='contact preferences',
                    changeLinkUrl=url_for('personalDetails.contactPreferences'),
                    value=(contactPreferencesValue())
                ) }}

                {% macro unavailabilityValue() %}
                    {{ application_data.personal_details_data.contact_dates_should_avoid_formatted }}<br>
                    {% if application_data.personal_details_data.contact_dates_should_avoid %}
                        {# Note: The following <span> should all be on one line, to allow the line breaks to work correctly #}
                        <span style="white-space: pre-line;">{{ application_data.personal_details_data.contact_dates_to_avoid }}</span>
                    {% endif %}
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Unavailable over the next 6 months',
                    changeLinkHiddenText="whether there are any dates you don't want us to contact you by post over the next 6 months",
                    changeLinkUrl=url_for('personalDetails.contactDates'),
                    value=(unavailabilityValue())
                ) }}

                {{ summary_list_item.render(
                    title='Notify HMRC',
                    changeLinkHiddenText="whether you want us to notify HMRC after you receive a Gender Recognition Certificate",
                    changeLinkUrl=url_for('personalDetails.hmrc'),
                    value=(application_data.personal_details_data.tell_hmrc_formatted)
                ) }}

                {% if application_data.personal_details_data.tell_hmrc %}
                    {{ summary_list_item.render(
                        title='National insurance number',
                        changeLinkHiddenText="your National Insurance number",
                        changeLinkUrl=url_for('personalDetails.hmrc'),
                        value=(application_data.personal_details_data.national_insurance_number)
                    ) }}
                {% endif %}
            </dl>

            <form method="POST" action="{{ url_for('personalDetails.checkYourAnswers') }}">
                {{ form.csrf_token }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
