{% extends 'base.html' %}
{% import "govuk-design-system-templates/_summary-list-item.html" as summary_list_item %}

{% block title %}Check your answers: Your personal details{% endblock %}

{% block backLink %}
    <a href="{{ url_for('personalDetails.hmrc') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Check your answers:</span>
                Your personal details
            </h1>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {{ summary_list_item.render(
                    title='Name',
                    changeLinkHiddenText='name',
                    changeLinkUrl=url_for('personalDetails.index'),
                    value=(session['application']['personalDetails']['title'] + ' ' + session['application']['personalDetails']['first_name'] + ' ' + session['application']['personalDetails']['last_name'])
                ) }}

                {{ summary_list_item.render(
                    title='Affirmed gender',
                    changeLinkHiddenText='affirmed gender',
                    changeLinkUrl=url_for('personalDetails.affirmedGender'),
                    value=('Male' if session['application']['personalDetails']['affirmed_gender'] == 'MALE' else 'Female')
                ) }}

                {{ summary_list_item.render(
                    title='When you transitioned',
                    changeLinkHiddenText='when you transitioned',
                    changeLinkUrl=url_for('personalDetails.transitionDate'),
                    value=(strptime('{}-{}-1'.format(session['application']['personalDetails']['transition_date_year'],
                                 session['application']['personalDetails']['transition_date_month']),
                                 '%Y-%m-%d')
                                 .strftime('%B %Y')
                    )
                ) }}

                {{ summary_list_item.render(
                    title='When you signed your statutory declaration',
                    changeLinkHiddenText='when you signed your statutory declaration',
                    changeLinkUrl=url_for('personalDetails.statutoryDeclarationDate'),
                    value=(strptime('{}-{}-{}'.format(session['application']['personalDetails']['statutory_declaration_date_year'],
                                 session['application']['personalDetails']['statutory_declaration_date_month'],
                                 session['application']['personalDetails']['statutory_declaration_date_day']),
                                 '%Y-%m-%d')
                                 .strftime('%d %B %Y')
                    )
                ) }}

                {{ summary_list_item.render(
                    title='Ever changed name',
                    changeLinkHiddenText='whether you have changed your name to reflect your gender',
                    changeLinkUrl=url_for('personalDetails.previousNamesCheck'),
                    value=(session['application']['personalDetails']['previousNamesCheck'])
                ) }}

                {% macro addressValue() %}
                    {{ session['application']['personalDetails']['address']['address_line_one'] }}<br>
                    {{ session['application']['personalDetails']['address']['address_line_two'] }}<br>
                    {{ session['application']['personalDetails']['address']['town'] }}<br>
                    {{ session['application']['personalDetails']['address']['postcode'] }}
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Address',
                    changeLinkHiddenText='address',
                    changeLinkUrl=url_for('personalDetails.address'),
                    value=(addressValue())
                ) }}

                {% macro contactPreferencesValue() %}
                    <ul class="govuk-list">
                        {% if session['application']['personalDetails']['contactPreferences']['email'] != '' %}
                            <li>
                                Email: {{ session['application']['personalDetails']['contactPreferences']['email'] }}
                            </li>
                        {% endif %}
                        {% if session['application']['personalDetails']['contactPreferences']['phone'] != '' %}
                            <li>
                                Phone: {{ session['application']['personalDetails']['contactPreferences']['phone'] }}
                            </li>
                        {% endif %}
                        {% if session['application']['personalDetails']['contactPreferences']['post'] != '' %}
                            <li>
                                Post: {{ session['application']['personalDetails']['contactPreferences']['post'] }}
                            </li>
                        {% endif %}
                    </ul>
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Contact preferences',
                    changeLinkHiddenText='contact preferences',
                    changeLinkUrl=url_for('personalDetails.contactPreferences'),
                    value=(contactPreferencesValue())
                ) }}

                {% macro unavailabilityValue() %}
                    {{ session['application']['personalDetails']['contactDates']['answer'] }}<br>
                    {% if session['application']['personalDetails']['contactDates']['answer'] == 'Yes' %}
                        {# Note: The following <span> should all be on one line, to allow the line breaks to work correctly #}
                        <span style="white-space: pre-line;">{{ session['application']['personalDetails']['contactDates']['dates'] }}</span>
                    {% endif %}
                {% endmacro %}
                {{ summary_list_item.render(
                    title='Unavailable over the next 6 months',
                    changeLinkHiddenText="whether there are any dates you don't want us to contact you by post over the next 6 months",
                    changeLinkUrl=url_for('personalDetails.contactDates'),
                    value=(unavailabilityValue())
                ) }}

                {{ summary_list_item.render(
                    title='Notify HMRC',
                    changeLinkHiddenText="whether you want us to notify HMRC after you receive a Gender Recognition Certificate",
                    changeLinkUrl=url_for('personalDetails.hmrc'),
                    value=(session['application']['personalDetails']['hmrc']['answer'])
                ) }}

                {% if session['application']['personalDetails']['hmrc']['answer'] == 'Yes' %}
                    {{ summary_list_item.render(
                        title='National insurance number',
                        changeLinkHiddenText="your National Insurance number",
                        changeLinkUrl=url_for('personalDetails.hmrc'),
                        value=(session['application']['personalDetails']['hmrc']['national_insurance_number'])
                    ) }}
                {% endif %}
            </dl>

            <form method="POST" action="{{ url_for('personalDetails.checkYourAnswers') }}">
                {{ form.csrf_token }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
