{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/textarea.html" as textarea %}

{% block title %}If we need to contact you by post in the next 6 months, are there any dates we should avoid?{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {% macro insertDatesToAvoidHintText() %}
                    Include the day, month and year. Write in any format, for example:<br>
                    1-7 September 2022,<br>
                    3rd Oct - 8th Nov 2022
                {% endmacro %}
                {{ radios.renderFor(
                    form,
                    fieldName='contactDatesCheck',
                    question="If we need to contact you by post in the next 6 months, are there any dates we should avoid?",
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'hintOptions': {
                            'htmlOrText': 'For example, if you are away on holiday. The Gender Recognition Panel
                                           admin team will not contact you during this time – but other government
                                           departments such as HMRC might still contact you.'
                        },
                        'conditionalOptions': [
                            (True,
                            textarea.renderFor(
                                form,
                                fieldName='dates',
                                textareaForOptions={
                                    'labelOptions': { 'htmlOrText': "Insert dates to avoid" },
                                    'hintOptions': { 'htmlOrText': insertDatesToAvoidHintText() },
                                    'rows': 3
                                }
                            ))
                        ]
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>
            
        </div>
    </div>
{% endblock %}
