{% extends 'base.html' %}


{% block backLink %}<a href="{{url_for('personalDetails.contactPreferences')}}"
   class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if form.errors %}
    <div class="govuk-error-summary"
         aria-labelledby="error-summary-title"
         role="alert"
         tabindex="-1"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title"
          id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
          {% for e in form[error].errors %}
          <li><a href="#{{error}}">{{ e }}</a></li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <form method="POST"
          action="{{url_for('personalDetails.contactDates')}}">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
        <fieldset class="govuk-fieldset"
                  aria-describedby="check-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Will you be away from your address for more than a week over the next 6 months?
            </h1>
          </legend>
          <div class="govuk-hint">
            We will not post anything to you during this time
          </div>
          {% if form.check.errors %}
          <p id="check"
             class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you’ll be unavailable
          </p>
          {% endif %}
          <div class="govuk-radios"
               data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="check"
                     name="check"
                     type="radio"
                     value="Yes"
                     data-aria-controls="conditional-check"
                     {{ 'checked'
                     if
                     form.check.data
                     is
                     iterable
                     and "Yes"
                     in
                     form.check.data
                     }}>
              <label class="govuk-label govuk-radios__label"
                     for="check">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                 id="conditional-check">
              <div class="govuk-form-group">
                <label class="govuk-label"
                       for="dates">
                  Dates you’re unavailable
                </label>
                {% if form.dates.errors %}
                <p id="dates-error"
                   class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Dates are required
                </p>
                {% endif %}
                <textarea class="govuk-textarea {{ 'govuk-input--error' if form.dates.errors }}"
                          id="dates"
                          name="dates"
                          rows="3">{{ form.dates.data if form.dates.data is not none}}</textarea>
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="check-2"
                     name="check"
                     type="radio"
                     value="No"
                     {{ 'checked'
                     if
                     form.check.data
                     is
                     iterable
                     and "No"
                     in
                     form.check.data
                     }}>
              <label class="govuk-label govuk-radios__label"
                     for="check-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button"
                data-module="govuk-button">
          Save and continue
        </button>
        <a href="{{url_for('taskList.index')}}"
           class="govuk-link govuk-link--no-visited-state">Return to task list</a>
      </div>
    </form>


  </div>
</div>
{% endblock %}
