{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}

{% block title %}What is your name?{% endblock %}

{% block backLink %}
    <a href="{{ back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
                    <fieldset class="govuk-fieldset" aria-describedby="fieldset-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What is your name?
                            </h1>
                        </legend>
                        <p class="govuk-body">
                            Enter your name exactly how you want it to appear on your certificate
                        </p>

                        <div class="govuk-hint govuk-!-margin-bottom-6" id="fieldset-hint">
                            Your first, middle and last names will appear on your Gender Recognition Certificate.
                            They must be the same as on either your latest change of name document or your birth certificate.
                        </div>

                        {{ textInput.renderFor(
                            form,
                            fieldName='title',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': 'Title' },
                                'hintOptions': { 'htmlOrText': 'For internal use only. This will not appear on your Gender Recognition Certificate.' },
                                'classes': 'govuk-input--width-5',
                                'autocomplete': 'honorific-prefix'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='first_name',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': 'First name' },
                                'classes': 'govuk-!-width-three-quarters',
                                'autocomplete': 'given-name'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='middle_names',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': 'Middle names (only required if you have middle names)' },
                                'classes': 'govuk-!-width-three-quarters',
                                'autocomplete': 'additional-name'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='last_name',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': 'Last name' },
                                'classes': 'govuk-!-width-three-quarters',
                                'autocomplete': 'family-name'
                            }
                        ) }}
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="{{ url_for('taskList.index') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to task list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
