{% extends 'base.html' %}

{% block title %}Failed to re-send invitation{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Failed to re-send invitation
            </h1>

            <p class="govuk-body">
                The user with email address
                <strong>{{ email_address }}</strong>
                has now logged into their account, so you can't re-send their invitation.
            </p>
            <p class="govuk-body">
                If they are having trouble logging in, they can use the
                <a href="{{ url_for('forgot_password.index') }}" class="govuk-link">
                    reset password
                </a>
                page
            </p>

            <p class="govuk-body">
                <a href="{{ url_for('users.index') }}" class="govuk-link">
                    Return to manage users
                </a>
            </p>

        </div>
    </div>
{% endblock %}
