{% extends 'base.html' %}

{% block serviceTitle %}Check documents needed to apply for a GRC{% endblock %}

{% block backLink %}<a href="{{ url_for('documentChecker.previousNamesCheck') }}" class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 id="error-summary-title" class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
            {% for e in form[error].errors %}
            <li><a href="#{{ error }}-issued-error">{{ e }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <form method="POST" action="{{ url_for('documentChecker.partnershipDetails') }}">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.check.errors }}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you currently married or in a civil partnership?
            </h1>
          </legend>
          <div id="uk-check-hint" class="govuk-hint">
            Select your current status, even if you are in the process of ending your marriage or civil partnership.
          </div>
          {% if form.check.errors %}
          <p id="check-issued-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you are currently married or in a civil partnership
          </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input id="check" type="radio" name="check" value="Married" class="govuk-radios__input" {{ 'checked' if session['documentChecker']['partnershipDetails']['marriageCivilPartnership'] == 'Married' }}>
              <label for="check" class="govuk-label govuk-radios__label">
                Married
              </label>
            </div>
            <div class="govuk-radios__item">
              <input id="check-2" type="radio" name="check" value="Civil partnership" class="govuk-radios__input" {{ 'checked' if session['documentChecker']['partnershipDetails']['marriageCivilPartnership'] == 'Civil partnership' }}>
              <label for="check-2" class="govuk-label govuk-radios__label">
                Civil partnership
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input id="check-3" type="radio" name="check" value="Neither" class="govuk-radios__input" {{ 'checked' if session['documentChecker']['partnershipDetails']['marriageCivilPartnership'] == 'Neither' }}>
              <label for="check-3" class="govuk-label govuk-radios__label">
                Neither
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
    </form>
  </div>
</div>
{% endblock %}
