{% extends 'document-checker/doc-checker-base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}

{% block title %}What is your email address?{% endblock %}

{% block backLink %}
    <a href="{{ url_for('documentChecker.your_documents') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST">
                {{ form.csrf_token }}

                {{ textInput.renderFor(
                    form,
                    fieldName='email_address',
                    textInputForOptions={
                        'labelOptions':{
                            'htmlOrText': 'What is your email address?',
                            'isPageHeading': true,
                            'classes': 'govuk-label--l'
                        },
                        'hintOptions':{
                            'htmlOrText': 'If you would like to receive your list of documents by email, enter your email address here'
                        },
                        'classes': 'govuk-input--width-20',
                        'autocomplete': 'email',
                        'attributes': [ ('spellcheck', 'false') ]
                    }
                ) }}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a href="{{ url_for('documentChecker.your_documents') }}" class="govuk-link govuk-link--no-visited-state">
                        Return to your documents list
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
