{% extends 'base.html' %}
{% block serviceTitle %}Check documents needed to apply for a GRC{% endblock %}
{% block backLink %}<a href="{{ url_for(back) }}" class="govuk-back-link">Back</a>{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 id="error-summary-title" class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
            {% for e in form[error].errors %}
            <li><a href="#{{ error }}-issued-error">{{ e }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      Gender recognition outside of the UK
    </h1>

    <p class="govuk-body">The documents you need to provide will be different if you have received the equivalent of Gender Recognition Certificate from this list of countries and territories:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>Australia <span class="govuk-hint">(Territories of Australian Capital Territory and Northern Territory and the
        states of New South Wales, Queensland, South Australia, Tasmania, Victoria and Western Australia)</span></li>
      <li>Canada <span class="govuk-hint">(Provinces of Alberta, British Columbia, Manitoba, New Brunswick, Newfoundland
        and Labrador, Nova Scotia, Ontario, Prince Edward Island, Quebec and Saskatchewan and the Yukon
        Territory)</span></li>
      <li>Austria</li>
      <li>Belgium</li>
      <li>Bulgaria</li>
      <li>Croatia</li>
      <li>Republic of Cyprus</li>
      <li>Czech Republic</li>
      <li>Denmark</li>
      <li>Estonia</li>
      <li>Finland</li>
      <li>France</li>
      <li>Germany</li>
      <li>Greece</li>
      <li>Iceland</li>
      <li>Italy</li>
      <li>Japan</li>
      <li>Liechtenstein</li>
      <li>Luxembourg</li>
      <li>Malta</li>
      <li>Federal District of Mexico</li>
      <li>Moldova</li>
      <li>Netherlands</li>
      <li>New Zealand</li>
      <li>Norway</li>
      <li>Poland</li>
      <li>Romania</li>
      <li>Russian Federation</li>
      <li>Serbia</li>
      <li>Singapore</li>
      <li>Slovakia</li>
      <li>Slovenia</li>
      <li>South Africa</li>
      <li>South Korea</li>
      <li>Spain</li>
      <li>Sweden</li>
      <li>Switzerland</li>
      <li>Turkey</li>
      <li>Ukraine</li>
      <li>Uruguay</li>
      <li>United States of America <span class="govuk-hint">(the District of Columbia and all of the states except for
        Idaho, Ohio, Tennessee and Texas)<span></li>
    </ul>

    <form method="POST" action="{{ url_for('documentChecker.overseas_approved_check') }}">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.check.errors }}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you have the equivalent of a Gender Recognition Certificate from a country or territory on this list?
            </h1>
          </legend>
          {% if form.check.errors %}
          <p id="check-issued-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you have official documentation
          </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input id="check" type="radio" name="check" value="Yes" class="govuk-radios__input" {{ 'checked' if session['documentChecker']['confirmation']['overseasApprovedCheck'] == 'Yes' }}>
              <label for="check" class="govuk-label govuk-radios__label">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input id="check-2" type="radio" name="check" value="No" class="govuk-radios__input" {{ 'checked' if session['documentChecker']['confirmation']['overseasApprovedCheck'] == 'No' }}>
              <label for="check-2" class="govuk-label govuk-radios__label">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
