{% extends 'base.html' %}
{% block backLink %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Reset your password
    </h1>
    <!--<p class="govuk-body">You need to reset your password before you can login</p>-->
  </div>

  {% if emailAddress != "" %}
  <div class="govuk-grid-column-full">
    {% if message != "" %}
    <div class="govuk-inset-text">{{ message }}
      {% if message == "Your password has been updated" %}<a href="/">you can now login</a>{% endif %}
    </div>
    {% endif %}

    {% if form.errors %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
            {% for e in form[error].errors %}
            <li><a href="#{{ error }}-issued-error">{{ e }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if message != "Your password has been updated" %}
    <form method="POST" action="{{ url_for('password_reset.index') }}">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.check and form.check.errors }}">
        <fieldset class="govuk-fieldset">
          {% if form.check and form.check.errors %}
          <p id="check-issued-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Invalid password
          </p>
          {% endif %}
          <div class="govuk-form-group {{ 'govuk-form-group--error' if form.password.errors }}">
            <label class="govuk-label" for="password">
              Password
            </label>
            {% if form.password.errors %}
            <p id="password-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Password is required
            </p>
            {% endif %}
            <input id="password" name="password" type="password" spellcheck="false" value="{{ password }}" class="govuk-input govuk-input--width-20 {{ 'govuk-input--error' if form.password.errors }}">
          </div>
          <div class="govuk-form-group {{ 'govuk-form-group--error' if form.confirmPassword.errors }}">
            <label class="govuk-label" for="confirmPassword">
                Confirm Password
            </label>
            {% if form.confirmPassword.errors %}
            <p id="confirmPassword-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Confirm your password
            </p>
            {% endif %}
            <input id="confirmPassword" name="confirmPassword" type="password" spellcheck="false" value="{{ confirmPassword }}" class="govuk-input govuk-input--width-20 {{ 'govuk-input--error' if form.confirmPassword.errors }}">
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Reset
        </button>
      </div>
    </form>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}
