{% extends 'base.html' %}
{% block backLink %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      GRC users
    </h1>
  </div>

  <div class="govuk-grid-column-full">
    {% if message != "" %}
    <div class="govuk-inset-text">{{ message }}</div>
    {% endif %}

    {% if form.errors %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.errors %}
            {% for e in form[error].errors %}
            <li><a href="#{{ error }}-issued-error">{{ e }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <form method="POST" action="{{ url_for('users.index') }}">
      {{ form.csrf_token }}

      <div class="govuk-form-group {{ 'govuk-form-group--error' if form.check and form.check.errors }}">
        <fieldset class="govuk-fieldset">
          {% if form.check and form.check.errors %}
          <p id="check-issued-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Invalid login
          </p>
          {% endif %}
          <div class="govuk-form-group {{ 'govuk-form-group--error' if form.email.errors }}">
            <label class="govuk-label" for="email">
              Email address
            </label>
            {% if form.email.errors %}
            <p id="email-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Email address is required
            </p>
            {% endif %}
            <input id="email" name="email" type="text" spellcheck="false" autocomplete="email" value="{{ emailAddress }}" class="govuk-input govuk-input--width-20 {{ 'govuk-input--error' if form.email.errors }}">
          </div>
          <div class="govuk-checkboxes checkboxes-long-text" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="userType" name="userType" type="checkbox" value="true">
              <label class="govuk-label govuk-checkboxes__label" for="userType">
                Allow this user to manage users?
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <input type="hidden" name="action" value="signin">
        <button class="govuk-button" data-module="govuk-button">
          Invite
        </button>
      </div>
    </form>

    <table class="govuk-table new-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">Email address</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">User type</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Last login</th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><span class="govuk-visually-hidden">Actions</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for user in users %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ user.email }}</td>
          <td class="govuk-table__cell">{{ user.userType }}</td>
          <td class="govuk-table__cell">{{ user.dateLastLogin }}</td>
          <td class="govuk-table__cell">
            <ul class="govuk-summary-list__actions-list" style="text-align: right">
                {% if not user.dateLastLogin %}
                <li class="govuk-summary-list__actions-list-item">
                  <a href="/users/{{ user.email }}/resend" class="new-link">
                    Resend invite
                  </a>
                </li>
                {% endif %}
                <li class="govuk-summary-list__actions-list-item">
                  <a href="/users/{{ user.email }}/delete" class="new-link">
                    Delete
                  </a>
                </li>
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
