{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Privacy policy
            </h1>
            <p class="govuk-body">
                This page explains what kind of personal information the Government Equalities Office (GEO)
                holds about you, how it's protected and how you can find out about it.
            </p>

            <h2 class="govuk-heading-m">
                What personal information GEO holds about you
            </h2>
            <p class="govuk-body">
                GEO hold the following information about you when you apply for a
                Gender Recognition Certificate using this service:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>your personal details: name, email address, and telephone number</li>
                <li>birth/adoption certificate details</li>
                <li>Medical information</li>
                <li>Name change information</li>
                <li>National Insurance number</li>
            </ul>

            <h2 class="govuk-heading-m">
                Purpose
            </h2>
            <p class="govuk-body">
                We use your personal data to enable the submission of applications to the Gender Recognition team
                at HMCTS (HM Courts & Tribunals Service).
            </p>

            <h2 class="govuk-heading-m">
                Legal basis of processing
            </h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Data subject consents</li>
            </ul>
            <p class="govuk-body">
                Sensitive personal data is personal data revealing racial or ethnic origin, political opinions,
                religious or philosophical beliefs, or trade union membership, and the processing of genetic data,
                biometric data for the purpose of uniquely identifying a natural person, data concerning health or
                data concerning a natural person's sex life or sexual orientation.
            </p>
            <p class="govuk-body">
                The legal basis for processing your sensitive personal data is:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you have freely and explicitly given your consent</li>
            </ul>

            <h2 class="govuk-heading-m">
                How long GEO keeps your personal data
            </h2>
            <p class="govuk-body">
                When you begin an application, or return to an existing application you will be sent an email
                with a pin number.
            </p>
            <p class="govuk-body">
                If you do not use the pin to verify your email within 24 hours, you will need to start either
                the application or the log-in again and request a new pin.
            </p>
            <p class="govuk-body">
                Once you have started your application, we will keep your personal data for six calendar months
                from the date you last signed in. If you do not sign in within six calendar months we will permanently
                delete all personal identifiable data. We will warn you three months, one month and one week before we
                delete your data.
            </p>
            <p class="govuk-body">
                Once an application is submitted, this is shared with the HMCTS Gender Recognition administration team.
                They will use this data to process your application and put it to the Gender Recognition panel for review.
                Once it is shared with HMCTS - we hold the data for seven calendar days before deleting it permanently
                from our online system.
            </p>
            <p class="govuk-body">
                A legitimate business needs means:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>That we have a need to retain your details in order to provide services to you or to your organisation</li>
                <li>The law requires us to provide these services</li>
            </ul>

            <h2 class="govuk-heading-m">
                Sharing your information
            </h2>
            <p class="govuk-body">
                When you submit your application, your data will be shared with the HMCTS Gender recognition
                administration team. They require a secure login to access the data. The data is not shared with any
                third parties or government departments, agencies or arms length bodies. The Cabinet Office and it’s
                associated staff are also unable to access the application data stored on the system.
            </p>
            <p class="govuk-body">
                Before the application is submitted, the information stored is not shared at all with any person,
                department or organisation.
            </p>
            <p class="govuk-body">
                After your application is submitted, your information will be shared with our mail and email service
                providers where this is needed to process your application. It will also be shared with our hosting
                suppliers and third party IT support companies for the purposes of managing the site.
            </p>
            <p class="govuk-body">
                There are some cases when your information can be shared for other reasons, e.g. to prevent crime,
                respond to legal obligations or cooperate with public inquiries.
            </p>

            <h2 class="govuk-heading-m">
                Your rights
            </h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    You can ask to see and rectify the personal information GEO holds about you. Users can do this by
                    logging into their application on the apply for a gender recognition certificate service
                </li>
                <li>
                    In certain circumstances, you may also object to or restrict the processing of your data by GEO
                    by making a request to the
                    <a href="mailto:grc-requests@cabinetoffice.gov.uk" class="govuk-link">
                        grc-requests@cabinetoffice.gov.uk
                    </a>
                    mailbox
                </li>
                <li>
                    If you have submitted your application, you will no longer be able to log in to access the apply
                    for a gender recognition certificate service - but you can make a request within 7 calendar days
                    to the
                    <a href="mailto:grc-requests@cabinetoffice.gov.uk" class="govuk-link">
                        grc-requests@cabinetoffice.gov.uk
                    </a>
                    mailbox for us to amend/delete the data - after this time, you will need to contact the
                    <a href="mailto:GRPenquiries@justice.gov.uk" class="govuk-link">
                        GRPenquiries@justice.gov.uk
                    </a>
                    mailbox
                </li>
            </ul>

            <h2 class="govuk-heading-m">
                Contact Details
            </h2>
            <p class="govuk-body">
                The data controller for your personal data is HM Courts and Tribunals Service.
            </p>
            <p class="govuk-body">
                The contact details for the data controller are:
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                The Data Protection Officer<br>
                Ministry of Justice<br>
                3rd Floor, Post Point 3.20<br>
                10 South Colonnades<br>
                Canary Wharf<br>
                London E14 4PU
            </p>
            <p class="govuk-body">
                Email:
                <a href="mailto:DPO@justice.gov.uk" class="govuk-link">
                    DPO@justice.gov.uk
                </a>
            </p>

            <h2 class="govuk-heading-m">
                How to make a complaint
            </h2>
            <p class="govuk-body">
                When we ask you for information, we will keep to the law. If you consider that your information has
                been handled incorrectly, you can contact the Information Commissioner for independent advice about
                data protection. You can contact the Information Commissioner at:
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                Information Commissioner’s Office<br>
                Wycliffe House<br>
                Water Lane<br>
                Wilmslow<br>
                Cheshire SK9 5AF
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                Tel:
                <a href="tel:03031231113" class="govuk-link">
                    0303 123 1113
                </a>
            </p>
            <p class="govuk-body">
                <a href="https://ico.org.uk/" class="govuk-link">
                    Information Commissioner’s Office website
                </a>
            </p>

        </div>
    </div>
{% endblock %}
