{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST">
                {{ form.csrf_token }}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                                Reset your password
                            </h1>
                        </legend>

                        <div id="password-hint" class="govuk-hint">
                            Your password must contain:
                            <ul class="govuk-!-margin-top-0 govuk-!-padding-left-4">
                                <li>8 or more characters</li>
                                <li>a lower case letter</li>
                                <li>an upper case letter</li>
                                <li>a number</li>
                                <li>a special character</li>
                            </ul>
                        </div>

                        {{ textInput.renderFor(
                            form,
                            fieldName='password',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': 'Password' },
                                'classes': 'govuk-input--width-20',
                                'type': 'password',
                                'decribedBy': 'password-hint'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='confirmPassword',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': 'Confirm your password' },
                                'classes': 'govuk-input--width-20',
                                'type': 'password',
                            }
                        ) }}
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Reset password
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
