{% extends 'base.html' %}

{% block title %}Your password has been reset{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Your password has been reset
            </h1>

            <p class="govuk-body">
                You can now
                <a href="{{ url_for('admin.index') }}" class="govuk-link">
                    login to download GRC applications
                </a>
            </p>

        </div>
    </div>
{% endblock %}
