{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}

{% block title %}Check your email (password reset){% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                Check your email
            </h1>

            <p class="govuk-body">
                A security code has been sent to your email address:
                <strong>{{ email_address }}</strong>.
                Please enter the security code
            </p>

            <p class="govuk-body govuk-!-margin-bottom-8">
                If it's still not there, we can
                <a href="{{ url_for('password_reset.reset_password_security_code') }}?resend=true" class="govuk-link govuk-link--no-visited-state">resend the email</a>.
            </p>

            <form method="POST">
                {{ form.csrf_token }}

                {{ textInput.renderFor(
                    form,
                    fieldName='security_code',
                    textInputForOptions={
                        'labelOptions': {
                            'htmlOrText': 'Security code',
                            'classes': 'govuk-label--m'
                        },
                        'autocomplete': 'off',
                        'classes': 'govuk-input--width-5',
                    }
                ) }}

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>

        </div>
    </div>
{% endblock %}
