name: Backup databases hourly to external-to-Gov.UK-PaaS S3 bucket

on:
  schedule:
    - cron: '0 * * * *'

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.EXTERNAL_S3_AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.EXTERNAL_S3_AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: eu-west-2

jobs:
  backup_sandbox:
    uses: ./.github/workflows/_backup-database-to-external-s3-shared.yml
    with:
      cf_space: 'sandbox'
      database_name: 'postgres-13-dev'
    secrets:
      cf_username: ${{ secrets.CF_USERNAME }}
      cf_password: ${{ secrets.CF_PASSWORD }}
      external_backup_encryption_key: ${{ secrets.EXTERNAL_BACKUP_ENCRYPTION_KEY }}
      external_s3_aws_access_key_id: ${{ secrets.EXTERNAL_S3_AWS_ACCESS_KEY_ID }}
      external_s3_aws_secret_access_key: ${{ secrets.EXTERNAL_S3_AWS_SECRET_ACCESS_KEY }}

  backup_staging:
    uses: ./.github/workflows/_backup-database-to-external-s3-shared.yml
    with:
      cf_space: 'staging'
      database_name: 'postgres-13-staging'
    secrets:
      cf_username: ${{ secrets.CF_USERNAME }}
      cf_password: ${{ secrets.CF_PASSWORD }}
      external_backup_encryption_key: ${{ secrets.EXTERNAL_BACKUP_ENCRYPTION_KEY }}
      external_s3_aws_access_key_id: ${{ secrets.EXTERNAL_S3_AWS_ACCESS_KEY_ID }}
      external_s3_aws_secret_access_key: ${{ secrets.EXTERNAL_S3_AWS_SECRET_ACCESS_KEY }}

  backup_production:
    uses: ./.github/workflows/_backup-database-to-external-s3-shared.yml
    with:
      cf_space: 'production'
      database_name: 'postgres-13-production'
    secrets:
      cf_username: ${{ secrets.CF_USERNAME }}
      cf_password: ${{ secrets.CF_PASSWORD }}
      external_backup_encryption_key: ${{ secrets.EXTERNAL_BACKUP_ENCRYPTION_KEY }}
      external_s3_aws_access_key_id: ${{ secrets.EXTERNAL_S3_AWS_ACCESS_KEY_ID }}
      external_s3_aws_secret_access_key: ${{ secrets.EXTERNAL_S3_AWS_SECRET_ACCESS_KEY }}
