name: Backup files daily to external-to-Gov.UK-PaaS S3 bucket

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  backup_sandbox:
    name: Backup files (sandbox)
    runs-on: ubuntu-latest

    steps:
      - name: Start backup job on server
        run: |
          curl https://geo-gender-recognition-certificate-admin.london.cloudapps.digital/jobs/backup-files?token=${{ secrets.JOB_TOKEN }}

  backup_staging:
    name: Backup files (staging)
    runs-on: ubuntu-latest

    steps:
      - name: Start backup job on server
        run: |
          curl https://grc-staging-admin.london.cloudapps.digital/jobs/backup-files?token=${{ secrets.JOB_TOKEN }}

  backup_production:
    name: Backup files (production)
    runs-on: ubuntu-latest

    steps:
      - name: Start backup job on server
        run: |
          curl https://admin.apply-gender-recognition-certificate.service.gov.uk/jobs/backup-files?token=${{ secrets.JOB_TOKEN }}
