name: 'Deploy (staging)'

on:
  push:
    tags:
      - 'stage-*'

concurrency: ${{ github.workflow }}  # Prevents more than one instance of this workflow running at the same time

jobs:
  deploy:
    uses: ./.github/workflows/_deploy-shared.yml
    with:
      cf_space: 'staging'
      app_name_public: 'grc-staging'
      app_name_admin: 'grc-staging-admin'
      app_name_iprestrict_admin: 'grc-staging-iprestrict-admin'
      manifest_name: 'staging'
    secrets:
      cf_username: ${{ secrets.CF_USERNAME }}
      cf_password: ${{ secrets.CF_PASSWORD }}
      allowed_ips_admin: ${{ secrets.ALLOWED_IPS_ADMIN_STAGING }}
